
<!doctype html>
<html>
<head>


<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="www.vancheer.com" />
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
  <link rel="icon" href="/vancheerfile/Images/2019/12/20191202091111511.png" type="image/x-icon" /><meta name="Keywords" content="Kaadas, smart lock, lock distributor, franchise"><meta name="Description" content="Kaadas"><title>Contact - Access to your Future</title>    
<link href="/En/style/main.css" rel="stylesheet" type="text/css" />
<link href="/En/style/index.css" rel="stylesheet" type="text/css" />
<link href="/En/style/media.css" rel="stylesheet" type="text/css" />
<link href="/En/style/slick.css" rel="stylesheet" type="text/css" />
<link href="/En/style/fade.css" rel="stylesheet" type="text/css" />
     <link href="/En/style/Sdialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/En/script/jquery-1.7.1.min.js"></script>
<script language="javascript" type="text/javascript" src="/En/script/easing.js"></script>
<script language="javascript" type="text/javascript" src="/En/script/js.js"></script>
<script language="javascript" type="text/javascript" src="/En/script/form.js"></script>
<script language="javascript" type="text/javascript" src="/En/script/fun.js"></script>
<script language="javascript" type="text/javascript" src="/En/script/slick.js"></script>
<script language="javascript" type="text/javascript" src="/En/script/main.js"></script>
        <script language="javascript" type="text/javascript" src="/En/script/message.js"></script>
<!--[if lte IE 6]>
<script src="script/png.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input , a');
    </script>
<![endif]-->
 <!-- Event snippet for 提交潜在客户表单 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-411118657/JoGfCKfIuPoBEMHYhMQB',
      'value': 3.0,
      'currency': 'CNY',
      'event_callback': callback
  });
  return false;
}
</script>
<!-- Event snippet for 网页浏览 conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-411118657/oUMoCNTni_0BEMHYhMQB'});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RRN0KN41M1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RRN0KN41M1');
  gtag('config', 'AW-411118657');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Ads: 411118657 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-411118657"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-411118657');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171431524-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-171431524-1');
</script>
<script>(function (w, d, s, l, i) {
w[l] = w[l] || []; w[l].push({
'gtm.start':
new Date().getTime(), event: 'gtm.js'
}); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-M3JS7J7');</script>
<!-- End Google Tag Manager -->
    
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '582140889000700');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=582140889000700&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
    <script data-ad-client="ca-pub-7718874409201598" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Meta Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3619905574902648');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3619905574902648&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-6ZQGWWMP93"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-6ZQGWWMP93'); </script>
</head>

<body>
    

<!-- Event snippet for 网页浏览 conversion page -->
<script>
    gtag('event', 'conversion', { 'send_to': 'AW-411118657/oUMoCNTni_0BEMHYhMQB' });
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RRN0KN41M1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-RRN0KN41M1');
    gtag('config', 'AW-411118657');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Ads: 411118657 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-411118657"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-411118657');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171431524-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-171431524-1');
</script>
<script>
    window.okkiConfigs = window.okkiConfigs || [];
    function okkiAdd() { okkiConfigs.push(arguments); };
    okkiAdd("analytics", { siteId: "4025-1651", gId: "UA-187453565-3" });
      </script>
<script async src="//tfile.xiaoman.cn/okki/analyze.js?id=4025-1651-UA-187453565-3"></script>
<div class="headDiv ">
    <div class="wal">
        <a href="/" class="logo">
            <img src="/En/images/logo.png" alt=""></a>
        <div class="nav">
            <ul>

                
                <li><a href="/Product/product.html">Smart Lock<em></em></a></li>
                    <li><a href="/News/index.html">News<em></em></a></li>
                <li class="sNavA"><a href="/Contact/contact.html">Contact<em></em></a></li>
                <li class="sNavA"><a href="/About/about.html">About Kaadas<em></em></a></li>
                <li><a href="/">Home<em></em></a></li>
            </ul>
        </div>
        <div class="topRight">
            <ul>
                <li><a href="mailto:export@kaadas.com">
                    <img src="/En/images/nimg35_1.png" alt=""></a></li>
                <li class="li01">
                    <div class="topSearch">
                        <input type="text" class="input_hover" placeholder="Search" onfocus="if (value ==''){value =''}" onblur="if (value ==''){value=''}" title="Search" id="txtkey">
                        <div class="btn" onclick="searchs();" id="btnsearchs">
                            <img src="/En/images/nimg35_2.png"></div>
                        <script type="text/javascript">

                            $(document).ready(function () {
                                $("#txtkey").keydown(function (e) {
                                    if (e.keyCode == 13) {

                                        if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null)
                                        { return false; }
                                        document.getElementById("btnsearchs").click();
                                    }
                                })
                            })

                            function searchs() {
                                if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null) {
                                    alert("Please enter the search content");
                                    //Salert("", "请输入关键字");
                                    document.getElementById("txtkey").focus();
                                    return;
                                }
                                location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkey").value;

                            }

                            function EnterPress(e) { //传入 event 
                                var e = e || window.event;
                                if (e.keyCode == 13) {
                                    document.getElementById("btnsearchs").focus();
                                }
                            }
                        </script>
                    </div>
                </li>
            </ul>
            <div class="clear_f"></div>
        </div>
        <a href="javascript:;" class="navIco">
            <img src="/En/images/navIco.png" alt=""></a>
        <a href="" class="shopIco">
            <img src="/En/images/nimg54_1.png" alt=""></a>
    </div>
</div>
<!---->

<div class="sNav">
    <div class="list">
        <ul>
             <li><a href="/Contact/contact.html" >Contact</a></li>
        </ul>
    </div>
</div>

<div class="sNav">
    <div class="list">
        <ul>
             <li><a href="/About/about.html" >Brand</a></li> <li><a href="/About/honor.html">Honor & Award</a></li> <li><a href="/About/technology.html">Core Tech</a></li> <li><a href="/About/distributor.html">Distributor</a></li>
        </ul>
    </div>
</div>

<!---->
<div class="navLayer">
    <div class="bg">
        <div class="close">
            <a href="javascript:;" class="closeBtn">
                <img src="/En/images/close.png" /></a>
        </div>
        <div class="box">
            <div class="form">
                <input type="text" class="input1 input_hover" id="txtkeye" title="Please enter the search content" placeholder="Please enter the search content" onfocus="if (value ==''){value =''}" onblur="if (value ==''){value=''}" />
                <input type="button" class="btn1" onclick="searchse();" id="btnsearchse" />
                <script type="text/javascript">

                    $(document).ready(function () {
                        $("#txtkeye").keydown(function (e) {
                            if (e.keyCode == 13) {

                                if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkey").value == "Please enter the search content" || document.getElementById("txtkeye").value == null)
                                { return false; }
                                document.getElementById("btnsearchse").click();
                            }
                        })
                    })

                    function searchse() {
                        if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkeye").value == "Please enter the search content" || document.getElementById("txtkeye").value == null) {
                            alert("Please enter the search content");
                            //Salert("", "请输入关键字");
                            document.getElementById("txtkeye").focus();
                            return;
                        }
                        location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkeye").value;

                    }

                    function EnterPress(e) { //传入 event
                        var e = e || window.event;
                        if (e.keyCode == 13) {
                            document.getElementById("btnsearchse").focus();
                        }
                    }
                </script>
            </div>
        </div>
        <div class="sideNav">


            <div class="subNav">
                <div class="name"><a href="/EProduct/product.html">Smart Lock</a></div>
            </div>
            
                <div class="subNav"><div class="name"><a href="/News/index.html">News</a></div></div>
            <div class="subNav1 subNav">
                <div class="name">Contact</div>
            </div>
            <ul class="navContent">
                 <li><a href="/Contact/contact.html" >Contact</a></li>
            </ul>
            <div class="subNav1 subNav">
                <div class="name">About Kaadas</div>
            </div>
            <ul class="navContent">
                 <li><a href="/About/about.html" >Brand</a></li> <li><a href="/About/honor.html">Honor & Award</a></li> <li><a href="/About/technology.html">Core Tech</a></li> <li><a href="/About/distributor.html">Distributor</a></li>
            </ul>
            <div class="subNav">
                <div class="name"><a href="/">Home</a></div>
            </div>
        </div>
    </div>
</div>

<div class="pageBanner">
	<div class="imgDiv">    <img src="/vancheerfile/Images/2018/12/20181204055228079.jpg" alt=""></div>
	<div class="txtDiv">
	<div class="txt1">Contact</div>
	</div>
</div>
<!----> <div class="pageBannerTel">
        <div class="imgDiv">
            <img src="/vancheerfile/Images/2018/12/20181204055239949.jpg" alt=""></div>
        <div class="txtDiv">
            <div class="txt1">Contact</div>
           
        </div>
    </div>
<div class="pageTop">
<div class="wal">
            <div class="pageNow">The current location：<a href="/index.html">Home</a> > <a href="/Contact/contact.html" >Contact</a> > <em>Contact</em></div>
	<div class="pageNav">
		<ul>
		   <li><a href="/Contact/contact.html" class="aNow">Contact</a></li>
		</ul>
	</div>
</div>
</div>
<!---->
<div class="pageTitleTel">
    <div class="sideTitleTel">
        <div class="con"><a href="javascript:;" class="tan">Contact</a></div>
        <div class="sideTitleNav">
            <div class="box">
            <ul>
                <li><a href="/Contact/contact.html" >Contact</a></li>   
            </ul>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="pageBox">
	<div class="contact">
        <div class="part3">
        <div class="wal">
        	<div class="title">Message form</div>
            <div class="form">
            	<ul>
                	<li>
                    <div class="lbox select">
                        <select id="AreaId" name="AreaId">
                            <option value="country">Please select your country</option>

                                    <option value="Africa">Africa</option>

                                    <option value="Argentina">Argentina</option>

                                    <option value="Armenia">Armenia</option>

                                    <option value="Australia">Australia</option>

                                    <option value="Belarus">Belarus</option>

                                    <option value="Belgium">Belgium</option>

                                    <option value="Belize">Belize</option>

                                    <option value="Bolivia">Bolivia</option>

                                    <option value="Brazil">Brazil</option>

                                    <option value="Canada">Canada</option>

                                    <option value="Chile">Chile</option>

                                    <option value="Colombia">Colombia</option>

                                    <option value="Costa Rica">Costa Rica</option>

                                    <option value="Croatia">Croatia</option>

                                    <option value="Cyprus">Cyprus</option>

                                    <option value="Denmark">Denmark</option>

                                    <option value="Dominican Republic">Dominican Republic</option>

                                    <option value="Ecuador">Ecuador</option>

                                    <option value="Egypt">Egypt</option>

                                    <option value="El Salvador">El Salvador</option>

                                    <option value="Estonia">Estonia</option>

                                    <option value="Finland">Finland</option>

                                    <option value="Fiji">Fiji</option>

                                    <option value="France">France</option>

                                    <option value="Germany">Germany</option>

                                    <option value="Georgia">Georgia</option>

                                    <option value="Greece">Greece</option>

                                    <option value="Guatemala">Guatemala</option>

                                    <option value="Haiti">Haiti</option>

                                    <option value="Honduras">Honduras</option>

                                    <option value="Hong Kong">Hong Kong</option>

                                    <option value="India">India</option>

                                    <option value="Indonesia">Indonesia</option>

                                    <option value="Iraq">Iraq</option>

                                    <option value="Italy">Italy</option>

                                    <option value="Israel">Israel</option>

                                    <option value="Jamaica">Jamaica</option>

                                    <option value="Japan">Japan</option>

                                    <option value="Kazakhstan">Kazakhstan</option>

                                    <option value="Kenya">Kenya</option>

                                    <option value="Kyrgyzstan">Kyrgyzstan</option>

                                    <option value="Latin America">Latin America</option>

                                    <option value="Libya">Libya</option>

                                    <option value="Lithuania">Lithuania</option>

                                    <option value="Malaysia">Malaysia</option>

                                    <option value="Mexico">Mexico</option>

                                    <option value="Middle East">Middle East</option>

                                    <option value="Myanmar">Myanmar</option>

                                    <option value="Moldova">Moldova</option>

                                    <option value="Nepal">Nepal</option>

                                    <option value="Netherlands">Netherlands</option>

                                    <option value="New Zealand">New Zealand</option>

                                    <option value="Nigeria">Nigeria</option>

                                    <option value="Nicaragua">Nicaragua</option>

                                    <option value="Norway">Norway</option>

                                    <option value="Pakistan">Pakistan</option>

                                    <option value="Panama">Panama</option>

                                    <option value="Paraguay">Paraguay</option>

                                    <option value="Peru">Peru</option>

                                    <option value="Philippines">Philippines</option>

                                    <option value="Poland">Poland</option>

                                    <option value="Portugal">Portugal</option>

                                    <option value="Puerto Rico">Puerto Rico</option>

                                    <option value="Qatar">Qatar</option>

                                    <option value="Romania">Romania</option>

                                    <option value="Russia">Russia</option>

                                    <option value="Saudi Arabia">Saudi Arabia</option>

                                    <option value="Singapore">Singapore</option>

                                    <option value="South Korea">South Korea</option>

                                    <option value="Sri Lanka">Sri Lanka</option>

                                    <option value="Spain">Spain</option>

                                    <option value="Suriname">Suriname</option>

                                    <option value="Sweden">Sweden</option>

                                    <option value="Taiwan">Taiwan</option>

                                    <option value="Tajikistan">Tajikistan</option>

                                    <option value="Thailand">Thailand</option>

                                    <option value="Turkey">Turkey</option>

                                    <option value="Turkmenistan">Turkmenistan</option>

                                    <option value="Tunisia">Tunisia</option>

                                    <option value="United Arab Emirates">United Arab Emirates</option>

                                    <option value="United Kingdom">United Kingdom</option>

                                    <option value="United States">United States</option>

                                    <option value="Uruguay">Uruguay</option>

                                    <option value="Uzbekistan">Uzbekistan</option>

                                    <option value="Vietnam">Vietnam</option>

                                    <option value="Venezuela">Venezuela</option>

                        </select>
                    </div>
                    </li>
                    <li>
                    <div class="lbox">
                    	<div class="txt">Name  <em>*</em></div>
                        <input type="text" class="input1"  id="name" name="name">
                    </div>
                    </li>
                    <li>
                    <div class="lbox">
                    	<div class="txt">Company</div>
                        <input type="text" class="input1" id="Company" name="Company">
                    </div>
                    </li>
                    <li>
                    <div class="lbox">
                    	<div class="txt">Email address  <em>*</em></div>
                        <input type="text" class="input1" id="email" name="email">
                    </div>
                    </li>
                    <li>
                    <div class="lbox">
                    	<div class="txt">Phone number</div>
                        <input type="text" class="input1" id="tel" name="tel">
                    </div>
                    </li>
                    <li>
                    <div class="lbox">
                        <div class="txt">City<em>*</em></div>
                        <input type="text" class="input1" id="City" name="City">

                    </div>
                    </li>
                    <li>
                    <div class="lbox select">
                        <select id="laiyuan" name="laiyuan">
                            <option value="Information sources">Information sources</option>

                                    <option value="Facebook">Facebook</option>
                                    <option value="Instagram">Instagram</option>

                                    <option value="LinkedIn">LinkedIn</option>

                                    <option value="Twitter">Twitter</option>
                                    <option value="Web search">Web search</option>
                                    <option value="Other">Other</option>
                        </select>
                    </div>
                    </li>

                  
                    <li class="li01">
                    <div class="lbox">
                    	<textarea id="nr" name="nr"></textarea><em style="color: #f00;">*</em>
                    </div>
                    </li>
                    <li><a  href="javascript:checkform1();"  class="btn">Submit</a></li>
                </ul>
                <div class="clear_f"></div>
            </div>
        </div>
        </div>
    	   
        
        
        <div class="mxfDiv">
        <div class="wal">
            <div class="list">
                <ul>  
                    <li>
                    <div class="box">
                        <div class="name">Sales Director of Overseas Market.</div>
                        <div class="msg">Charles
                           
                             
                            <br>Email：<a href="mailto:charles@kaadas.com">charles@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                    <li>
                    <div class="box">
                        <div class="name">North America.</div>
                        <div class="msg">Lydia 
                           
                             
                            <br>Email：<a href="mailto:lydia@kaadas.com">lydia@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                    <li>
                    <div class="box">
                        <div class="name">North America.</div>
                        <div class="msg">Fiona 
                           
                             
                            <br>Email：<a href="mailto:zhangcaihong@kaadas.com">zhangcaihong@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                    <li>
                    <div class="box">
                        <div class="name">North America.</div>
                        <div class="msg">Maggie
                           
                             
                            <br>Email：<a href="mailto:maggie@kaadas.com">maggie@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                    <li>
                    <div class="box">
                        <div class="name">North America.</div>
                        <div class="msg">Ida
                           
                             
                            <br>Email：<a href="mailto:ida@kaadas.com">ida@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                    <li>
                    <div class="box">
                        <div class="name">India, Malaysia, Vietnam, Taiwan & HK.</div>
                        <div class="msg">Kevin She
                           
                             
                            <br>Email：<a href="mailto:kevin.she@kaadas.com">kevin.she@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                    <li>
                    <div class="box">
                        <div class="name">Central Asia, Eastern Europe & Singapore.</div>
                        <div class="msg">Roxy
                           
                             
                            <br>Email：<a href="mailto:tengxinyun@kaadas.com">tengxinyun@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                    <li>
                    <div class="box">
                        <div class="name">South America, Southeast Asia, Middle East & Australia.</div>
                        <div class="msg">Fandy
                           
                             
                            <br>Email：<a href="mailto:fandy@kaadas.com">fandy@kaadas.com</a>

                        </div>
                    </div>
                    </li>  
                  
                </ul>
                <div class="clear_f"></div>
            </div>
        </div>
        </div>
        
        <div class="wal">
        	<div class="toptop">
                <div class="mapDiv" id="map1">
                
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.0215870271045!2d113.93941862631864!3d22.578295931278735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403ed909b596775%3A0x39802110ed010523!2sTe%20Fa%20Chuang%20Zhi%20Yuncheng!5e0!3m2!1sen!2shk!4v1678086490904!5m2!1sen!2shk"  width="1200px" height="489px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
                <div class="midDiv">
                   <div class="lala fl ani-view fade-in-left">
	<div class="logo"><img alt="" src="/En/images/logo3.png" /></div>
	<p>深圳市凯迪仕智能科技股份有限公司</p>
</div>
<div class="lie fl ani-view fade-in-right">
	<ul>
		<li><img alt="" src="/images/nimg15_1.png" />Address: 11F-14F, Building B2, Phase 2, Creative City, Chuangke Road, Xili Street, Nanshan District, Shenzhen, Guangdong, 518055, China</li>
		<li><img alt="" src="/images/nimg15_4.png" />Email:&nbsp;<a href="mailto:export@kaadas.com">export@kaadas.com</a></li>
	</ul>
</div>
<br />


                </div>
            </div>
        </div>
	</div>
</div>
    

<div class="footDiv">
<div class="wal">
    <div class="leftDiv fl">
        <a href="/" class="logo"><img src="/En/images/logo2.png" alt=""></a>
          
         <p class="list-title" style="padding: 0.4rem 0 0.3rem;font-family: 'Gilroy-Medium';font-size: 16px;color: #fff;font-weight: bold;">Address</p>
        <div class="address">11F-14F, Building B2, Phase 2, Creative City, Chuangke <br>Road Xili Street, Nanshan District, Shenzhen, Guangdong, 518055, China</div>
         <div class="share">
        	<ul>
            	<li><a href="https://www.facebook.com/Kaadas-Smart-Door-Lock-102428947923808/" target="_blank"><img src="/En/images/nimg35_3.png"></a></li>
                 <li><a href="https://www.linkedin.com/company/kaadas-smart-door-locks/" target="_blank"><img src="/En/images/nimgin.png"></a></li>            
 <li><a href="https://www.instagram.com/kaadasofficial/" target="_blank"><img src="/En/images/nimg35_4.png" ></a></li>
                <li><a href="https://twitter.com/KaadasOfficial" target="_blank"><img src="/En/images/nimg35_5.png"></a></li>
      <li><a href="https://www.youtube.com/c/kaadasofficial" target="_blank"><img src="/En/images/nimg35_6.png"></a></li>
</ul>
        </div>
    </div>
    <div class="footNav fr">
        <ul>
            <li>
                <h2>About Kaadas</h2>
                <dl>
                     <dd><a href="/About/about.html" >Brand</a></dd> <dd><a href="/About/honor.html">Honor & Award</a></dd> <dd><a href="/About/technology.html">Core Tech</a></dd> <dd><a href="/About/distributor.html">Distributor</a></dd>
                </dl>
            </li>
            <li>
                <h2>Smart Lock</h2>
                <dl>
                   
                            <dd><a href="/Product/product.html">Push-Pull Lock</a></dd> <dd><a href="/Product/product.html">Handle Lock</a></dd> <dd><a href="/Product/product.html">Rim Lock</a></dd> <dd><a href="/Product/product.html">Deadbolt Lock</a></dd>
                </dl>
            </li>
            
            <li>
                <h2>Contact</h2>
                <dl>
                      <dd><a href="/Contact/contact.html" >Contact</a></dd>
                </dl>
            </li>
          
        </ul>
    </div>
 
    <div class="links"><a href="/others/policy.html">Privacy policy</a>|<a href="/others/terms.html">Terms of service</a>|<a href="/Contact/contact.html">Contact</a></div>
    <div class="msg">Copyright © 2023 Shenzhen Kaadas Intelligent Technology Co., Ltd. All Rights Reserved. <a href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备13061693号</a>  <a href="http://www.vancheer.cn" target="_blank">Powered by vancheer</a></div>
</div>
</div>
<!---->
<div class="sideBar">
    <ul>

       <li><div class="img cd-top"><a href=""><img src="/En/images/nimg34_2.png" /></a></div></li>
    </ul>
</div>


<div class="bdsharebuttonbox" style="display: none;"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone" id="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina" id="tsina"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin" id="weixin"></a><a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq" id="sqq"></a></div>
<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
<script type="text/javascript">


    function qzone() { document.getElementById("qzone").click(); }
    function tsina() { document.getElementById("tsina").click(); }
    function weixin() { document.getElementById("weixin").click(); }


    function sqq() { document.getElementById("sqq").click(); }

   </script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3JS7J7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</body>
</html>





