<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="www.vancheer.com">
<meta name="facebook-domain-verification" content="c9i2ijwleat71kfjyppeglwji472u4">
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
  <link rel="icon" href="vancheerfile/Images/2019/12/20191202091111511.png" type="image/x-icon"><meta name="Keywords" content="Kaadas, smart lock, fingerprint lock, smart home, digital lock, deadbolt, iot, electronic lock, bluetooth lock, z-wave, WiFi lock"><meta name="Description" content="A smart lock manufacturer, dealership / ODM / OEM is available. Over 30 years of experience in the lock industry. Own full in-house industry chain and three manufacturing bases with 287,000 sq.m. area. The annual manufacturing capacity is over 5 million sets!"><title>Kaadas | Access to Your Future</title>

<link href="/static/En/style/main.css" rel="stylesheet" type="text/css">
<link href="/static/En/style/index.css" rel="stylesheet" type="text/css">
<link href="/static/En/style/media.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/static/En/style/swiper.min.css">
<link rel="stylesheet" href="/static/En/style/animate.min.css">
    <link href="/static/En/style/fade2.css" rel="stylesheet" type="text/css">
<link href="/static/En/style/slick.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="/static/En/script/jquery-1.7.1.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/easing.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/js.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/form.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/fun.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/swiper-3.4.2.jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/swiper.animate1.0.2.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/slick.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/main.js"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

       <!-- Event snippet for 提交潜在客户表单 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-411118657/JoGfCKfIuPoBEMHYhMQB',
      'value': 3.0,
      'currency': 'CNY',
      'event_callback': callback
  });
  return false;
}
</script>
<!-- Event snippet for 网页浏览 conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-411118657/oUMoCNTni_0BEMHYhMQB'});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="gtag/js?id=G-RRN0KN41M1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RRN0KN41M1');
  gtag('config', 'AW-411118657');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Ads: 411118657 -->
<script async="" src="gtag/js-1?id=AW-411118657"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-411118657');
</script>
<script async="" src="gtag/js-2?id=UA-171431524-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-171431524-1');
</script>
<script>(function (w, d, s, l, i) {
w[l] = w[l] || []; w[l].push({
'gtm.start':
new Date().getTime(), event: 'gtm.js'
}); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-M3JS7J7');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '582140889000700');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="tr?id=582140889000700&ev=PageView&noscript=1"></noscript>
<!-- End Facebook Pixel Code -->
    <script data-ad-client="ca-pub-7718874409201598" async="" src="pagead/js/f.txt"></script>
    <!-- Meta Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3619905574902648');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="tr-1?id=3619905574902648&ev=PageView&noscript=1"></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) --> <script async="" src="gtag/js-3?id=G-6ZQGWWMP93"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-6ZQGWWMP93'); </script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>


        	<div class="sbuttons">
  <a href="https://wa.me/77076537070" target="_blank" class="sbutton whatsapp" tooltip="WhatsApp"><ion-icon name="logo-whatsapp"></ion-icon></a>


  <a href="https://www.instagram.com/zivolt.kz/" target="_blank" class="sbutton pinteres" tooltip="Pinterest"><ion-icon name="logo-instagram"></ion-icon></a>


  <a href="tel:+77076537070"  class="sbutton twitt" tooltip="Twitter"><ion-icon name="call-outline"></ion-icon></a>

</div>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="../gtag/js?id=G-RRN0KN41M1"></script>

<div class="headDiv headDiv2">
    <div class="wal">
        <a href="/" class="logo" style="left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);">
            <img src="/static/logo.png" alt=""></a>
<!--        <div class="nav">-->
<!--            <ul>-->

<!--                -->
<!--                <li><a href="Product/product.html">Smart Lock<em></em></a></li>-->
<!--                    <li><a href="News/index.html">News<em></em></a></li>-->
<!--                <li class="sNavA"><a href="Contact/contact.html">Contact<em></em></a></li>-->
<!--                <li class="sNavA"><a href="About/about.html">About Kaadas<em></em></a></li>-->
<!--                <li><a href="index.htm">Home<em></em></a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="topRight">-->
<!--            <ul>-->
<!--                <li><a href="mailto:export@kaadas.com">-->
<!--                    <img src="/static/En/images/nimg35_1.png" alt=""></a></li>-->
<!--                <li class="li01">-->
<!--                    <div class="topSearch">-->
<!--                        <input type="text" class="input_hover" placeholder="Search" onfocus="if (value ==''){value =''}" onblur="if (value ==''){value=''}" title="Search" id="txtkey">-->
<!--                        <div class="btn" onclick="searchs();" id="btnsearchs">-->
<!--                            <img src="/static/En/images/nimg35_2.png"></div>-->
<!--                        <script type="text/javascript">-->

<!--                            $(document).ready(function () {-->
<!--                                $("#txtkey").keydown(function (e) {-->
<!--                                    if (e.keyCode == 13) {-->

<!--                                        if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null)-->
<!--                                        { return false; }-->
<!--                                        document.getElementById("btnsearchs").click();-->
<!--                                    }-->
<!--                                })-->
<!--                            })-->

<!--                            function searchs() {-->
<!--                                if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null) {-->
<!--                                    alert("Please enter the search content");-->
<!--                                    //Salert("", "请输入关键字");-->
<!--                                    document.getElementById("txtkey").focus();-->
<!--                                    return;-->
<!--                                }-->
<!--                                location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkey").value;-->

<!--                            }-->

<!--                            function EnterPress(e) { //传入 event -->
<!--                                var e = e || window.event;-->
<!--                                if (e.keyCode == 13) {-->
<!--                                    document.getElementById("btnsearchs").focus();-->
<!--                                }-->
<!--                            }-->
<!--                        </script>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div class="clear_f"></div>-->
<!--        </div>-->
<!--        <a href="javascript:;" class="navIco">-->
<!--            <img src="/static/En/images/navIco.png" alt=""></a>-->
<!--        <a href="" class="shopIco">-->
<!--            <img src="/static/En/images/nimg54_1.png" alt=""></a>-->
    </div>
</div>

<!---->

<div class="sNav">
    <div class="list">
        <ul>
             <li><a href="../EContact/contact.html">Contact</a></li>
        </ul>
    </div>
</div>

<div class="sNav"   >
    <div class="list">
        <ul>
              <li><a href="../EAbout/about.html">Brand</a></li> <li><a href="../EAbout/honor.html">Honor & Award</a></li> <li><a href="../EAbout/technology.html">Core Tech</a></li> <li><a href="../EAbout/distributor.html">Distributor</a></li>

        </ul>
    </div>
</div>
<!---->
<!--<div class="navLayer">-->
<!--    <div class="bg">-->
<!--         <div class="close">-->
<!--             <a href="javascript:;" class="closeBtn"><img src="../En/images/close.png"></a>-->
<!--         </div>-->
<!--         <div class="box">-->
<!--            <div class="form">-->
<!--                <input type="text" class="input1 input_hover" id="txtkeye" title="Please enter the search content" placeholder="Please enter the search content" onfocus="if (value ==''){value =''}" onblur="if (value ==''){value=''}">-->
<!--                <input type="button" class="btn1" onclick="searchse();" id="btnsearchse">-->
<!--                    <script type="text/javascript">-->

<!--                        $(document).ready(function () {-->
<!--                            $("#txtkeye").keydown(function (e) {-->
<!--                                if (e.keyCode == 13) {-->

<!--                                    if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkey").value == "Please enter the search content" || document.getElementById("txtkeye").value == null)-->
<!--                                    { return false; }-->
<!--                                    document.getElementById("btnsearchse").click();-->
<!--                                }-->
<!--                            })-->
<!--                        })-->

<!--                        function searchse() {-->
<!--                            if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkeye").value == "Please enter the search content" || document.getElementById("txtkeye").value == null) {-->
<!--                                alert("Please enter the search content");-->
<!--                                //Salert("", "请输入关键字");-->
<!--                                document.getElementById("txtkeye").focus();-->
<!--                                return;-->
<!--                            }-->
<!--                            location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkeye").value;-->

<!--                        }-->

<!--                        function EnterPress(e) { //传入 event -->
<!--                            var e = e || window.event;-->
<!--                            if (e.keyCode == 13) {-->
<!--                                document.getElementById("btnsearchse").focus();-->
<!--                            }-->
<!--                        }-->
<!--            </script>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sideNav">-->
<!--          -->
<!--           -->
<!--             <div class="subNav"><div class="name"><a href="product.html">Smart Lock</a></div></div>-->
<!--            -->
<!--             <div class="subNav"><div class="name"><a href="../News/index.html">News</a></div></div>-->
<!--            <div class="subNav1 subNav"><div class="name">Contact</div></div>-->
<!--            	<ul class="navContent">-->
<!--                     <li><a href="../EContact/contact.html">Contact</a></li>-->
<!--                </ul>-->
<!-- <div class="subNav1 subNav"><div class="name">About Kaadas</div></div>-->
<!--                <ul class="navContent">-->
<!--                   <li><a href="../EAbout/about.html">Brand</a></li> <li><a href="../EAbout/honor.html">Honor & Award</a></li> <li><a href="../EAbout/technology.html">Core Tech</a></li> <li><a href="../EAbout/distributor.html">Distributor</a></li>-->
<!--                </ul>-->
<!--            <div class="subNav"><div class="name"><a href="../index.htm">Home</a></div></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
    <!---->
    <div class="proMsg">
        <div class="wal">
            <div class="name fl">{{ product.title }}</div>
            <div class="tab2 list fr">
                <ul>
                    <li style="color:white" class="liNow">Характеристика</li>
                    <li style="color:white">Описания</li>
                    
<!--                       <li><a href="downloads.html">Download</a></li>-->
                </ul>
                <div class="clear_f"></div>
            </div>
        </div>
    </div>
    <!---->
    <div class="tabContentDiv2">
        <div class="tabContent2 productShow">
            
            <div class="PC-Box" style="background: #323233;"><p style="width: 75%;
    margin: 0 auto;
}"><img src="/media/{{ product.image1 }}"></p>
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061350131.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061350521.jpg"><img src="../vancheerfile/Images/2019/6/20190619061350931.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061351335.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/2019061906148181.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/2019061906148587.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/2019061906148984.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/2019061906149379.jpg"></p>-->
   </div>
            

            <!---->
            
            <div class="Phone-Box"><p><img src="/media/{{ product.image1 }}"></p>
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061454315.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061454525.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061454755.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061454944.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061511637.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061511861.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061512070.jpg"></p>-->
<!--<p><img src="../vancheerfile/Images/2019/6/20190619061512263.jpg"></p>-->
   </div>
            
 
        </div>
        <div class="tabContent2  parameter">
            <div class="wal">
                <div class="title">Технические характеристики замка <b> Модель {{ product.title }} </b></div>
                    
                <div class="leftDiv fl" style="padding-left:0px;width:100%">
                    <div class="list"><img alt="" src="/media/{{ product.table }}" style="width: 502px; height: 413px;">   </div>
                </div>
            

                <div class="rightDiv fr" style="padding-right:0px;width:100%">
                    <div class="list"><img alt="" src="/media/{{ product.table2 }}">   </div>
                </div>
            
           
                <div class="clear_f"></div>
            </div>
        </div>
    </div>

            <div class="fuild-container d-flex " style="background: #29292c;justify-content: center;align-items: center;height:50px">


    <div style="color:white">©2024. Designed by  <a href="https://www.instagram.com/asilbek_korganbaev/" target="_blank">Assilbek</a> </div>
</div>

<!--<div class="footDiv">-->
<!--<div class="wal">-->
<!--    <div class="leftDiv fl">-->
<!--        <a href="../index.htm" class="logo"><img src="../En/images/logo2.png" alt=""></a>-->
<!--          -->
<!--         <p class="list-title" style="padding: 0.4rem 0 0.3rem;font-family: 'Gilroy-Medium';font-size: 16px;color: #fff;font-weight: bold;">Address</p>-->
<!--        <div class="address">11F-14F, Building B2, Phase 2, Creative City, Chuangke <br>Road Xili Street, Nanshan District, Shenzhen, Guangdong, 518055, China</div>-->
<!--         <div class="share">-->
<!--        	<ul>-->
<!--            	<li><a href="https://www.facebook.com/Kaadas-Smart-Door-Lock-102428947923808/" target="_blank"><img src="../En/images/nimg35_3.png"></a></li>-->
<!--                 <li><a href="https://www.linkedin.com/company/kaadas-smart-door-locks/" target="_blank"><img src="../En/images/nimgin.png"></a></li>            -->
<!-- <li><a href="https://www.instagram.com/kaadasofficial/" target="_blank"><img src="../En/images/nimg35_4.png"></a></li>-->
<!--                <li><a href="https://twitter.com/KaadasOfficial" target="_blank"><img src="../En/images/nimg35_5.png"></a></li>-->
<!--  -->
<!--</ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="footNav fl">-->
<!--        <ul>-->
<!--            <li>-->
<!--                <h2>About Kaadas</h2>-->
<!--                <dl>-->
<!--                     <dd><a href="../EAbout/about.html">Brand</a></dd> <dd><a href="../EAbout/honor.html">Honor & Award</a></dd> <dd><a href="../EAbout/technology.html">Core Tech</a></dd> <dd><a href="../EAbout/distributor.html">Distributor</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            <li>-->
<!--                <h2>Smart Lock</h2>-->
<!--                <dl>-->
<!--                   -->
<!--                            <dd><a href="product.html">Push-Pull Lock</a></dd> <dd><a href="product.html">Handle Lock</a></dd> <dd><a href="product.html">Rim Lock</a></dd> <dd><a href="product.html">Deadbolt Lock</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            -->
<!--            <li>-->
<!--                <h2>Contact</h2>-->
<!--                <dl>-->
<!--                      <dd><a href="../EContact/contact.html">Contact</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--          -->
<!--        </ul>-->
<!--    </div>-->
<!-- -->
<!--    <div class="links"><a href="../Eothers/policy.html">Privacy policy</a>|<a href="../Eothers/terms.html">Terms of service</a>|<a href="../EContact/contact.html">Contact</a></div>-->
<!--    <div class="msg">Copyright © 2023 Shenzhen Kaadas Intelligent Technology Co., Ltd. All Rights Reserved. <a href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备13061693号</a>  <a href="http://www.vancheer.cn" target="_blank">Powered by vancheer</a></div>-->
<!--</div>-->
<!--</div>-->
<!---->
<div class="sideBar" style="display:none">
    <ul>

       <li><div class="img cd-top"><a href=""><img src="../En/images/nimg34_2.png"></a></div></li>
    </ul>
</div>


<div class="bdsharebuttonbox" style="display: none;"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone" id="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina" id="tsina"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin" id="weixin"></a><a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq" id="sqq"></a></div>
<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
<script type="text/javascript">


    function qzone() { document.getElementById("qzone").click(); }
    function tsina() { document.getElementById("tsina").click(); }
    function weixin() { document.getElementById("weixin").click(); }


    function sqq() { document.getElementById("sqq").click(); }

   </script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3JS7J7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


</body>
</html>
 <script type="text/javascript" defer="defer">
     $(".Phone-Box").find("img").removeAttr("style");
                 </script>