<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="zivolt.kz">
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="icon" href="vancheerfile/Images/2019/12/20191202091111511.png" type="image/x-icon">
    <meta name="Keywords"
          content="Zivolt, умный замок,электронный замок Шымкент, блокировка по отпечатку пальца, умный дом, цифровой замок, засов, IOT, электронный замок, блокировка Bluetooth, z-wave, блокировка Wi-Fi">
    <meta name="Description"
          content="Наши замки обеспечат вашим потребителям и их семье максимальную безопасность и комфорт на высшем уровне, благодаря таким возможностям как: открывание с помощью отпечатка пальца и код-пароля,Функия автоблокировки, Дистанционное управление со смартфона, Голосовое управление И Запись движения">
    <title>ZIVOLT | ЭЛЕКТРОННЫЕ ЗАМКИ</title>

    <link href="/static/En/style/main.css" rel="stylesheet" type="text/css">
<link href="/static/En/style/index.css" rel="stylesheet" type="text/css">
<link href="/static/En/style/media.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/static/En/style/swiper.min.css">
<link rel="stylesheet" href="/static/En/style/animate.min.css">
    <link href="/static/En/style/fade2.css" rel="stylesheet" type="text/css">
<link href="/static/En/style/slick.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="/static/En/script/jquery-1.7.1.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/easing.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/js.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/form.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/fun.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/swiper-3.4.2.jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/swiper.animate1.0.2.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/slick.js"></script>
<script language="javascript" type="text/javascript" src="/static/En/script/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       <!-- Event snippet for 提交潜在客户表单 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->




<noscript><img height="1" width="1" style="display:none" src="tr?id=582140889000700&ev=PageView&noscript=1"></noscript>
<!-- End Facebook Pixel Code -->
    <script data-ad-client="ca-pub-7718874409201598" async="" src="pagead/js/f.txt"></script>
    <!-- Meta Pixel Code -->

<noscript><img height="1" width="1" style="display:none" src="tr-1?id=3619905574902648&ev=PageView&noscript=1"></noscript>
<!-- End Meta Pixel Code -->

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>











<div class="headDiv ">
    <div class="wal">
        <a href="index.htm" class="logo" style="left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);">
            <img src="/static/logo.png" alt=""></a>
<!--        <div class="nav">-->
<!--            <ul>-->

<!--                -->
<!--                <li><a href="Product/product.html">Smart Lock<em></em></a></li>-->
<!--                    <li><a href="News/index.html">News<em></em></a></li>-->
<!--                <li class="sNavA"><a href="Contact/contact.html">Contact<em></em></a></li>-->
<!--                <li class="sNavA"><a href="About/about.html">About Kaadas<em></em></a></li>-->
<!--                <li><a href="index.htm">Home<em></em></a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="topRight">-->
<!--            <ul>-->
<!--                <li><a href="mailto:export@kaadas.com">-->
<!--                    <img src="/static/En/images/nimg35_1.png" alt=""></a></li>-->
<!--                <li class="li01">-->
<!--                    <div class="topSearch">-->
<!--                        <input type="text" class="input_hover" placeholder="Search" onfocus="if (value ==''){value =''}" onblur="if (value ==''){value=''}" title="Search" id="txtkey">-->
<!--                        <div class="btn" onclick="searchs();" id="btnsearchs">-->
<!--                            <img src="/static/En/images/nimg35_2.png"></div>-->
<!--                        <script type="text/javascript">-->

<!--                            $(document).ready(function () {-->
<!--                                $("#txtkey").keydown(function (e) {-->
<!--                                    if (e.keyCode == 13) {-->

<!--                                        if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null)-->
<!--                                        { return false; }-->
<!--                                        document.getElementById("btnsearchs").click();-->
<!--                                    }-->
<!--                                })-->
<!--                            })-->

<!--                            function searchs() {-->
<!--                                if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null) {-->
<!--                                    alert("Please enter the search content");-->
<!--                                    //Salert("", "请输入关键字");-->
<!--                                    document.getElementById("txtkey").focus();-->
<!--                                    return;-->
<!--                                }-->
<!--                                location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkey").value;-->

<!--                            }-->

<!--                            function EnterPress(e) { //传入 event -->
<!--                                var e = e || window.event;-->
<!--                                if (e.keyCode == 13) {-->
<!--                                    document.getElementById("btnsearchs").focus();-->
<!--                                }-->
<!--                            }-->
<!--                        </script>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div class="clear_f"></div>-->
<!--        </div>-->
<!--        <a href="javascript:;" class="navIco">-->
<!--            <img src="/static/En/images/navIco.png" alt=""></a>-->
<!--        <a href="" class="shopIco">-->
<!--            <img src="/static/En/images/nimg54_1.png" alt=""></a>-->
    </div>
</div>
<!---->

<!--<div class="sNav">-->
<!--    <div class="list">-->
<!--        <ul>-->
<!--             <li><a href="Contact/contact.html">Contact</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="sNav">-->
<!--    <div class="list">-->
<!--        <ul>-->
<!--             <li><a href="About/about.html">Brand</a></li> <li><a href="About/honor.html">Honor & Award</a></li> <li><a href="About/technology.html">Core Tech</a></li> <li><a href="About/distributor.html">Distributor</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<!---->
<div class="navLayer">
    <div class="bg">
        <div class="close">
            <a href="javascript:;" class="closeBtn">
                <img src="/static/En/images/close.png"></a>
        </div>
        <div class="box">
            <div class="form">
                <input type="text" class="input1 input_hover" id="txtkeye" title="Please enter the search content" placeholder="Please enter the search content" onfocus="if (value ==''){value =''}" onblur="if (value ==''){value=''}">
                <input type="button" class="btn1" onclick="searchse();" id="btnsearchse">
                <script type="text/javascript">

                    $(document).ready(function () {
                        $("#txtkeye").keydown(function (e) {
                            if (e.keyCode == 13) {

                                if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkey").value == "Please enter the search content" || document.getElementById("txtkeye").value == null)
                                { return false; }
                                document.getElementById("btnsearchse").click();
                            }
                        })
                    })

                    function searchse() {
                        if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkeye").value == "Please enter the search content" || document.getElementById("txtkeye").value == null) {
                            alert("Please enter the search content");
                            //Salert("", "请输入关键字");
                            document.getElementById("txtkeye").focus();
                            return;
                        }
                        location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkeye").value;

                    }

                    function EnterPress(e) { //传入 event 
                        var e = e || window.event;
                        if (e.keyCode == 13) {
                            document.getElementById("btnsearchse").focus();
                        }
                    }
                </script>
            </div>
        </div>


<!--        <div class="sideNav">-->


<!--            <div class="subNav">-->
<!--                <div class="name"><a href="EProduct/product.html">Smart Lock</a></div>-->
<!--            </div>-->
<!--            -->
<!--                <div class="subNav"><div class="name"><a href="News/index.html">Newsss</a></div></div>-->
<!--            <div class="subNav1 subNav">-->
<!--                <div class="name">Contact</div>-->
<!--            </div>-->
<!--            <ul class="navContent">-->
<!--                 <li><a href="Contact/contact.html">Contact</a></li>-->
<!--            </ul>-->
<!--            <div class="subNav1 subNav">-->
<!--                <div class="name">About Kaadas</div>-->
<!--            </div>-->
<!--            <ul class="navContent">-->
<!--                 <li><a href="About/about.html">Brand</a></li> <li><a href="About/honor.html">Honor & Award</a></li> <li><a href="About/technology.html">Core Tech</a></li> <li><a href="About/distributor.html">Distributor</a></li>-->
<!--            </ul>-->
<!--            <div class="subNav">-->
<!--                <div class="name"><a href="index.htm">Home</a></div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<!--banner轮播图开始-->
<div class="ind-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">

    {% for sl in slides %}
            <div class="swiper-slide" style="background: url(/media/{{ sl.pc_logo }})50% 50% no-repeat ;background-size: cover;">
                <a href="#" target="_blank;">

                </a>
            </div>
    {% endfor %}
                    
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
</div>
<script>
    var my = new Swiper('.ind-banner .swiper-container', {
        autoplay: 6000,
        speed: 1200,
        pagination: '.ind-banner .swiper-pagination',
        paginationClickable: true,
        autoplayDisableOnInteraction: false,
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素 
            swiperAnimate(swiper); //初始化完成开始动画
        },
        onSlideChangeEnd: function (swiper) {
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
        }
    });
    </script>
<!--banner轮播图结束-->
<div class="bannerTel">
    <div class="indexFlashTel">
             {% for sl in slides %}
                            <div class="slick">
                <a href="#" target="_blank;">
            <img src="/media/{{ sl.mob_logo }}"></a>
                            </div>
            {% endfor %}

    </div>
</div>
<script type="text/javascript">
    $('.indexFlashTel').slick({
        dots: true,
        infinite: true,
        autoplay: true,
        arrows: false,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1
    });
</script>
<div class="indexPart1">
<div class="wal">
    <div class="indexTitle">
     
        <div class="title2">НАШИ ПРОДУКТЫ</div>
    </div>
    <div class="msg">Иноватции встречается с безопасностью</div>
    <div class="indexPart1Pic ani-view fade-in-down">

        {% for pr in products %}
        <div class="slick">
            <div class="box"><a href="/product/{{ pr.title }}" >
                <div class="imgDiv fangda"><img src="/media/{{ pr.logo }}" alt=""></div>
                <div class="name">{{ pr.title }}</div>
                <div class="wen">{{ pr.description }}</div>

            </a>
                <a href="https://wa.me/77076537070?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D1%83%D0%B5%D1%82%20{{pr.title}}" type="button" class=" "  style="background: #a0a3a8;
    padding: 8px 0px;
    border:none;
    color:white;
    display:block;
    width:90%;
    height: 40px;
    text-align:center;
    margin:0px auto;
">Заказать</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <script type="text/javascript">
        $('.indexPart1Pic').slick({
            dots: false,
            infinite: true,
            autoplay: true,
            arrows: true,
            speed: 500,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
            {
                breakpoint: 1004,
                settings: {
                    dots: false,
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            ]
        });
    </script>
</div>
</div>
<!---->

    
<!---->

          <div class="indexPart3" style="    background-size: 142%;
    min-height: 730px;">



<div class="wal">
    <div class="indexTitle">
        <div class="title1">НАШИ ПРИМУШЕСТВО</div>

    </div>



    <div class="tab2">
        <ul>

        </ul>
        <div class="clear_f"></div>
    </div>
    <div class="tabContentDiv2">
        <div class="tabContent2">


                    <div class="list fl ani-view slide-leftLarge">
                <ul>

                           <li>
                    <a style="    padding: 28px;">
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2024/1/20240122155327124.jpg" alt=""></div>-->
                        <div class="name" style="font-size:25px">Прямой поставщик от изготовителя </div>
                        <div class="time">Мы ваш надежный поставщик инновационных электронных замков. Сотрудничество с производителями позволяет нам предлагать продукцию по конкурентоспособным ценам с гарантией качества и поддержкой на всех этапах. Мы стремимся обеспечить ваше полное удовлетворение от опыта с нами.</div>
                    </a>
                    </li>
  <li>
                    <a  style="    padding: 28px;">
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2024/1/20240122155327124.jpg" alt=""></div>-->
                        <div class="name" style="font-size:25px">Конкурентная цена</div>
                        <div class="time">Мы предлагаем конкурентные цены на все наши электронные замки, обеспечивая высокое качество и инновационные технологии по доступной стоимости. Получите лучшее сочетание цены и качества на рынке.</div>
                    </a>
                    </li>






                </ul>
            </div>

            <div class="list fr ani-view slide-rightLarge">
                <ul>
                     <li>
                    <a style="    padding: 28px;">
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2024/1/20240122155327124.jpg" alt=""></div>-->
                        <div class="name" style="font-size:25px">Сервисное обслуживание </div>
                        <div class="time">Наше сервисное обслуживание гарантирует, что ваш электронный замок всегда будет функционировать идеально. Мы предлагаем быстрое и качественное послепродажное обслуживание, включая техническую поддержку и ремонт, чтобы вы могли наслаждаться безопасностью и удобством без перерывов.</div>
                    </a>
                    </li>




                            <li>
                    <a style="   padding: 28px;">
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2024/1/20240122155327124.jpg" alt=""></div>-->
                        <div class="name" style="font-size:25px">Профессиональные консультации </div>
                        <div class="time">Предлагаем профессиональную консультацию по выбору электронных замков, гарантируя, что вы найдете идеальный вариант, точно соответствующий вашим потребностям в безопасности и стиле. Ваше спокойствие – наш приоритет.</div>
                    </a>
                    </li>




                </ul>
            </div>
            <div class="clear_f"></div>
<!--            <div class="btnDiv"><a href="News/index.html" rel="nofollow">more</a></div>-->
        </div>


    </div>
</div>
</div>


        	<div class="sbuttons">
  <a href="https://wa.me/77076537070" target="_blank" class="sbutton whatsapp" tooltip="WhatsApp"><ion-icon name="logo-whatsapp"></ion-icon></a>


  <a href="https://www.instagram.com/zivolt.kz/" target="_blank" class="sbutton pinteres" tooltip="Pinterest"><ion-icon name="logo-instagram"></ion-icon></a>


  <a href="tel:+77076537070"  class="sbutton twitt" tooltip="Twitter"><ion-icon name="call-outline"></ion-icon></a>


</div>


 <div class="indexPart3" style="    background-size: 142%;
    height: 730px;">



<div class="wal">
    <div class="indexTitle">
        <div class="title1">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</div>

    </div>



    <div class="tab2">
        <ul>

        </ul>
        <div class="clear_f"></div>
    </div>
    <div class="tabContentDiv2">
        <div class="tabContent2 ">


            <div class="accordion accordion-flush" id="accordionFlushExample">
  <!-- Element 1 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" style="background: #29292c; color: #a0a3a8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
        На какие двери устанавливаются Умные замки?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Наши Умные замки устанавливаются на входные и межкомнатные двери с толщиной полотна от 3 см до 10 см. Это металлические или деревянные двери. Не подходят для стеклянных дверей.
      </div>
    </div>
  </div>

  <!-- Element 2 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" style="background: #29292c; color: #a0a3a8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Уже стоит простой замок, можно его заменить на Умный? Или нужна новая дверь?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Да, возможно. Умный замок устанавливается на Вашу дверь после демонтажа прежнего замка.
      </div>
    </div>
  </div>

  <!-- Element 3 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" style="background: #29292c; color: #a0a3a8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Я уже купил Умный замок в другой компании. Сможете его установить?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Мы устанавливаем только наши электронные замки, т.к. не можем отвечать за качество замков других компаний.
      </div>
    </div>
  </div>

  <!-- Element 4 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" style="background: #29292c; color: #a0a3a8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Мне поставила Умный замок другая компания, но он не работает. Сможете его отремонтировать?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Мы занимаемся ремонтом только установленных нами Умных замков.
      </div>
    </div>
  </div>

  <!-- Element 5 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" style="background: #29292c; color: #a0a3a8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Как открыть Умный замок, если сели батарейки?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Индикатор на панели замка позволяет всегда видеть уровень заряда батареек. В экстренном случае, если батарейки разрядились, замок можно открыть с помощью портативного зарядного устройства через вход Micro USB (Type-C) в замке или механическим ключом, который идет в комплекте.
      </div>
    </div>
  </div>


  <!-- Element 7 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSeven">
      <button class="accordion-button collapsed" style="background: #29292c; color: #a0a3a8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        Преимущества покупки Умного замка у Вас?
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Мы предоставляем гарантию на оборудование и установочные работы, а также обеспечиваем техническую поддержку, имея штат квалифицированных инженеров.
      </div>
    </div>
  </div>
  <!-- Element 8 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingEight">
      <button class="accordion-button collapsed" style="background: #29292c; color: #a0a3a8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
        Доставка и оплата
      </button>
    </h2>
    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Доставка осуществляется по всему Казахстану. Оплата 100%. Для каждого региона сроки доставки обговариваются индивидуально с менеджером.
      </div>
    </div>
  </div>
</div>

            <style>
                .accordion-button::after {
                background-image:url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF0000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e
)
                }
                .accordion-button:focus {

                    border-color: #86b7fe;
                }
                .accordion-button:hover {

                    border-color: #86b7fe;
                }
                .accordion-flush .accordion-item {
    border-radius: none;
            </style>

            <div class="clear_f"></div>
<!--            <div class="btnDiv"><a href="News/index.html" rel="nofollow">more</a></div>-->
        </div>


    </div>
</div>
</div>

<div class="pageBox" style="padding: 0px;background:#29292c;color: #a0a3a8;">
	<div class="contact" style="    padding-bottom: 0;">
        <div class="part3">



        	<div class="title" style="color: #a0a3a8;    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #fff;">СТАНЬТЕ НАШИМ ПАРНЕРОМ</div>
            <div class="wal">
        <div class=" row">
            <div class="col-md-6 col-lg-6 col-sm-12" >
                    <a style="    padding: 28px;">
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2024/1/20240122155327124.jpg" alt=""></div>-->
                        <div class="name" >Мы открыты к сотрудничеству с: </div> <br>
                        <div class="time">• салонами и магазинами дверей;</div>
                        <div class="time">• дизайнерами интерьера;</div>
                        <div class="time">• строительными организациями;</div>
                        <div class="time">• застройщиками жилых комплексов и коммерческих помещений.</div><br>

                        <div class="name">Предлагаем договор о сотрудничестве, гарантируем наличие товара на складе и оперативную доставку.</div><br>
                        <div class="name">Мы оказываем услуги установки, настройки и обучения пользователей.</div><br>
                        <div class="name">Для подробных условий заполните заявку на партнёрство или свяжитесь с нами!</div>
                    </a>
            </div>

            <div class=" col-lg-6  col-md-6 col-sm-12" >

                    <form action="/" method="post">
                        {% csrf_token %}
                    <li style="width:100%">
                    <div class="lbox">
                    	<div class="txt">Ваше имя  <em>*</em></div>
                        <input type="text" class="input1"  id="name" name="name">
                    </div>
                    </li>
                    <li  style="width:100%">
                    <div class="lbox">
                    	<div class="txt">Компания <em>*</em></div>
                        <input type="text" class="input1" id="Company" name="company">
                    </div>
                    </li>
                    <li  style="width:100%">
                    <div class="lbox">
                    	<div class="txt">Телефон <em>*</em></div>
                        <input type="text" class="input1" id="tel" name="phone">
                    </div>
                    </li>
                    <li  style="width:100%">
                    <div class="lbox">
                    	<div class="txt">Email  <em>*</em></div>
                        <input type="text" class="input1" id="email" name="email">
                    </div>
                    </li>

                    <li  style="width:98%;" ><button type="submit" style="background: #a0a3a8;padding: 10px 0px;width:100%;line-height:25px"  class="btn">Отправить</button></li>
                </form>
                        <div class="clear_f"></div>
            </div>
        </div>
                </div>
        </div>



        <div class="mxfDiv">
        <div class="wal">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                    <div class="box">
                        <div class="name">Мы - в социальных сетях!</div>
                        <div class="msg">

                            <br>Instagram：<a style="color:white" href="https://www.instagram.com/zivolt.kz/">@zivolt.kz</a>
                            <br>Whatsapp：<a style="color:white" href="https://wa.me/77076537070">+7(707) 653 7070</a>
                            <br>Телефон：<a style="color:white" href="tel:+77076537070">+7(707) 653 7070</a>

                            <p class="list-title" style="padding: 0.4rem 0 0.1rem;font-family: 'Gilroy-Medium';font-size: 16px;color: #fff;font-weight: bold;">Address</p>
            <button type="button" class=" " onclick="showAddress1()" style="background: #a0a3a8;
    padding: 5px 0px;
    border:none;
    color:white;
    border-radius: 8px;
    width: 100%;
    margin-bottom:10px;
    line-height: 25px;">г. Шымкент ул Жибек жолы 190/2</button>
            <button type="button" class=" " onclick="showAddress2()"  style="background: #a0a3a8;
    padding: 5px 0px;
    border:none;
    color:white;
    border-radius: 8px;
    width: 100%;
    margin-bottom:10px;

    line-height: 25px;">г. Шымкент Байдибек би  175Б</button>
            <button type="button" class=" " onclick="showAddress3()"  style="background: #a0a3a8;
    padding: 5px 0px;
    border:none;
    color:white;
    border-radius: 8px;
    width: 100%;
    line-height: 25px;
    margin-bottom:10px;
">г. Шымкент Акпан батыр 92</button>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
        <div id="map">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.7422751589174!2d69.68834967558546!3d42.34801783586309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a8e217bbdeec89%3A0xaad082cc514f7b23!2zMiwg0YPQuy4g0JbQuNCx0LXQuiDQltC-0LvRiyAxOTAsINCo0YvQvNC60LXQvdGC!5e0!3m2!1sru!2skz!4v1711649131836!5m2!1sru!2skz" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

    </div>

    <script>
        function showAddress1() {
            var iframe = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.7422751589174!2d69.68834967558546!3d42.34801783586309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a8e217bbdeec89%3A0xaad082cc514f7b23!2zMiwg0YPQuy4g0JbQuNCx0LXQuiDQltC-0LvRiyAxOTAsINCo0YvQvNC60LXQvdGC!5e0!3m2!1sru!2skz!4v1711649131836!5m2!1sru!2skz" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>';
            document.getElementById('map').innerHTML = iframe;
        }
        function showAddress2() {
            var iframe = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.4570216845736!2d69.56568617558467!3d42.33277863682553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91bf357869f83%3A0x1e004c791b01b53b!2z0YPQuy4g0JHQsNC50LTQuNCx0LXQuiDQkdC4IDE3NSwg0KjRi9C80LrQtdC90YI!5e0!3m2!1sru!2skz!4v1711649225949!5m2!1sru!2skz" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>';
            document.getElementById('map').innerHTML = iframe;
        }
        function showAddress3() {
            var iframe = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.813097614159!2d69.61593357558417!3d42.325185037305005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91c2a63b5ebd9%3A0xee3d5457336c4560!2z0YPQuy4g0JDQutC_0LDQvSDQkdCw0YLRi9GA0LAgOTIsINCo0YvQvNC60LXQvdGC!5e0!3m2!1sru!2skz!4v1711648975079!5m2!1sru!2skz" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>';
            document.getElementById('map').innerHTML = iframe;
        }
    </script>
                    </div>


                <div class="clear_f"></div>
            </div>
        </div>
        </div>


	</div>
</div>

<!--<div class="indexPart3">-->
<!--<div class="wal">-->
<!--    <div class="indexTitle">-->

<!--        <div class="title2">СТАНЬТЕ НАШИМ ПАРНЕРОМ</div>-->
<!--    </div>-->
<!--    <div class="tabContentDiv2">-->
<!--        <div class="tabContent2">-->


<!--                    <div class="detail fl ani-view slide-leftLarge">-->
<!--                <a href="News/index_100000079237282.html">-->
<!--                    <div class="imgDiv fangda"><img src="vancheerfile/Images/2023/10/20231012153324461.jpg" alt=""></div>-->
<!--                    <div class="botDiv">-->
<!--                        <div class="name">From Design to Deployment: Smart Locks, Kaadas' Expertise</div>-->
<!--                        <div class="time">2023-09-08 </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->

<!--            <div class="detail fr ani-view slide-rightLarge">-->


<!--            <div class="form">-->
<!--            	<ul>-->
<!--                    <li>-->
<!--                    <div class="lbox">-->
<!--                    	<div class="txt">Name  <em>*</em></div>-->
<!--                        <input type="text" class="input1"  id="name" name="name">-->
<!--                    </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                    <div class="lbox">-->
<!--                    	<div class="txt">Company</div>-->
<!--                        <input type="text" class="input1" id="Company" name="Company">-->
<!--                    </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                    <div class="lbox">-->
<!--                    	<div class="txt">Email address  <em>*</em></div>-->
<!--                        <input type="text" class="input1" id="email" name="email">-->
<!--                    </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                    <div class="lbox">-->
<!--                    	<div class="txt">Phone number</div>-->
<!--                        <input type="text" class="input1" id="tel" name="tel">-->
<!--                    </div>-->
<!--                    </li>-->



<!--                    <li><a  href="javascript:checkform1();"  class="btn">Submit</a></li>-->
<!--                </ul>-->
<!--                <div class="clear_f"></div>-->
<!--            </div>-->


<!--            </div>-->
<!--            <div class="clear_f"></div>-->
<!--            <div class="btnDiv"><a href="News/index.html" rel="nofollow">more</a></div>-->
<!--        </div>-->


<!--    </div>-->
<!--</div>-->
<!--</div>-->

<!--          <div class="indexPart3">-->



<!--<div class="wal">-->
<!--    <div class="indexTitle">-->
<!--        <div class="title1">NEWS</div>-->
<!--      -->
<!--    </div>-->

<!--    -->

<!--    <div class="tab2">-->
<!--        <ul>-->
<!--         -->
<!--        </ul>-->
<!--        <div class="clear_f"></div>-->
<!--    </div>-->
<!--    <div class="tabContentDiv2">-->
<!--        <div class="tabContent2"> -->
<!--        -->
<!--            -->
<!--                    <div class="detail fl ani-view slide-leftLarge">-->
<!--                <a href="News/index_100000079237282.html">-->
<!--                    <div class="imgDiv fangda"><img src="vancheerfile/Images/2023/10/20231012153324461.jpg" alt=""></div>-->
<!--                    <div class="botDiv">-->
<!--                        <div class="name">From Design to Deployment: Smart Locks, Kaadas' Expertise</div>-->
<!--                        <div class="time">2023-09-08 </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--            -->
<!--            <div class="list fr ani-view slide-rightLarge">-->
<!--                <ul>-->
<!--                    -->
<!--                           <li>-->
<!--                    <a href="News/index_100000090779121.html">-->
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2024/1/20240122155327124.jpg" alt=""></div>-->
<!--                        <div class="name">Kaadas and Ossia Redefine Security Tech Landscape at CES 2024</div>-->
<!--                        <div class="time">2024-01-15</div>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    -->
<!--                           <li>-->
<!--                    <a href="News/index_100000090733676.html">-->
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2023/12/20231201182725106.jpg" alt=""></div>-->
<!--                        <div class="name">Discover Kaadas Z-Wave Locks Lineup Certified by Alarm.com</div>-->
<!--                        <div class="time">2023-11-30</div>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    -->
<!--                           <li>-->
<!--                    <a href="News/index_100000090784694.html">-->
<!--                        <div class="imgDiv fangda"><img src="vancheerfile/Images/2023/11/20231122185824972.jpg" alt=""></div>-->
<!--                        <div class="name">Kaadas Honored in SecurityInfoWatch.com Readers' Choice Awards</div>-->
<!--                        <div class="time">2023-11-09</div>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    -->
<!--                   -->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="clear_f"></div>-->
<!--            <div class="btnDiv"><a href="News/index.html" rel="nofollow">more</a></div>-->
<!--        </div>-->
<!--       -->
<!--        -->
<!--    </div>-->
<!--</div>-->
<!--</div>-->



    

<div class="fuild-container d-flex " style="background: #29292c;justify-content: center;align-items: center;height:50px">


    <div style="color:white">©2024. Designed by  <a href="https://www.instagram.com/asilbek_korganbaev/" target="_blank">Assilbek</a> </div>
</div>

<div class="sideBar">
    <ul>
       <li><div class="img cd-top"><a href=""><img src="/static/En/images/nimg34_2.png"></a></div></li>
    </ul>
</div>


<div class="bdsharebuttonbox" style="display: none;"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone" id="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina" id="tsina"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin" id="weixin"></a><a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq" id="sqq"></a></div>
<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
<script type="text/javascript">


    function qzone() { document.getElementById("qzone").click(); }
    function tsina() { document.getElementById("tsina").click(); }
    function weixin() { document.getElementById("weixin").click(); }


    function sqq() { document.getElementById("sqq").click(); }

   </script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3JS7J7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   
</body>
</html>
