<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="www.vancheer.com">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="icon" href="../vancheerfile/Images/2019/12/20191202091111511.png" type="image/x-icon">
    <meta name="Keywords" content="Kaadas, smart lock, fingerprint lock, smart home, intelligent lock">
    <meta name="Description" content="Kaadas">
    <title>Product - Access to your Future</title>

    <link href="../En/style/main.css" rel="stylesheet" type="text/css">
    <link href="../En/style/index.css" rel="stylesheet" type="text/css">
    <link href="../En/style/media.css" rel="stylesheet" type="text/css">
    <link href="../En/style/fade.css" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript" src="../En/script/jquery-1.7.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="../En/script/easing.js"></script>
    <script language="javascript" type="text/javascript" src="../En/script/js.js"></script>
    <script language="javascript" type="text/javascript" src="../En/script/form.js"></script>
    <script language="javascript" type="text/javascript" src="../En/script/fun.js"></script>
    <script language="javascript" type="text/javascript" src="../En/script/main.js"></script>

    <!-- Event snippet for 提交潜在客户表单 conversion page
 In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
          var callback = function () {
            if (typeof(url) != 'undefined') {
              window.location = url;
            }
          };
          gtag('event', 'conversion', {
              'send_to': 'AW-411118657/JoGfCKfIuPoBEMHYhMQB',
              'value': 3.0,
              'currency': 'CNY',
              'event_callback': callback
          });
          return false;
        }
    </script>
    <!-- Event snippet for 网页浏览 conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-411118657/oUMoCNTni_0BEMHYhMQB'});
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="../gtag/js?id=G-RRN0KN41M1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-RRN0KN41M1');
        gtag('config', 'AW-411118657');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Ads: 411118657 -->
    <script async="" src="../gtag/js-1?id=AW-411118657"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-411118657');
    </script>
    <script async="" src="../gtag/js-2?id=UA-171431524-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171431524-1');
    </script>
    <script>(function (w, d, s, l, i) {
w[l] = w[l] || []; w[l].push({
'gtm.start':
new Date().getTime(), event: 'gtm.js'
}); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-M3JS7J7');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '582140889000700');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="../tr?id=582140889000700&ev=PageView&noscript=1">
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script data-ad-client="ca-pub-7718874409201598" async="" src="../pagead/js/f.txt"></script>
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3619905574902648');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="../tr-1?id=3619905574902648&ev=PageView&noscript=1">
    </noscript>
    <!-- End Meta Pixel Code -->
    <!-- Google tag (gtag.js) -->
    <script async="" src="../gtag/js-3?id=G-6ZQGWWMP93"></script>
    <script>
         window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-6ZQGWWMP93');
    </script>
</head>

<body>
<!---->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="../gtag/js?id=G-RRN0KN41M1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RRN0KN41M1');
  gtag('config', 'AW-411118657');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="../gtag/js-2?id=UA-171431524-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171431524-1');
</script>
<div class="headDiv headDiv2">
    <div class="wal">
        <a href="../index.htm" class="logo"><img src="../En/images/logo.png" alt=""></a>
        <div class="nav">
            <ul>


                <li><a href="product.html">Smart Lock<em></em></a></li>
                <li><a href="../News/index.html">News<em></em></a></li>
                <li class="sNavA"><a href="../EContact/contact.html">Contact<em></em></a></li>
                <li class="sNavA"><a href="../EAbout/about.html">About Kaadas<em></em></a></li>
                <li><a href="../index.htm">Home<em></em></a></li>
            </ul>
        </div>
        <div class="topRight">
            <ul>
                <li><a href="mailto:export@kaadas.com"><img src="../En/images/nimg35_1.png" alt=""></a></li>
                <li class="li01">
                    <div class="topSearch">
                        <input type="text" class="input_hover" placeholder="Search" onfocus="if (value ==''){value =''}"
                               onblur="if (value ==''){value=''}" title="Search" id="txtkey">
                        <div class="btn" onclick="searchs();" id="btnsearchs"><img src="../En/images/nimg35_2.png">
                        </div>
                        <script type="text/javascript">

                            $(document).ready(function () {
                                $("#txtkey").keydown(function (e) {
                                    if (e.keyCode == 13) {

                                        if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null)
                                        { return false; }
                                        document.getElementById("btnsearchs").click();
                                    }
                                })
                            })

                            function searchs() {
                                if (document.getElementById("txtkey").value == "" || document.getElementById("txtkey").value == "Search" || document.getElementById("txtkey").value == null) {
                                    alert("Please enter the search content");
                                    //Salert("", "请输入关键字");
                                    document.getElementById("txtkey").focus();
                                    return;
                                }
                                location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkey").value;

                            }

                            function EnterPress(e) { //传入 event
                                var e = e || window.event;
                                if (e.keyCode == 13) {
                                    document.getElementById("btnsearchs").focus();
                                }
                            }
                        </script>
                    </div>
                </li>
            </ul>
            <div class="clear_f"></div>
        </div>
        <a href="javascript:;" class="navIco"><img src="../En/images/navIco.png" alt=""></a>
        <a href="" class="shopIco"><img src="../En/images/nimg54_1.png" alt=""></a>
    </div>
</div>
<!---->

<div class="sNav">
    <div class="list">
        <ul>
            <li><a href="../EContact/contact.html">Contact</a></li>
        </ul>
    </div>
</div>

<div class="sNav">
    <div class="list">
        <ul>
            <li><a href="../EAbout/about.html">Brand</a></li>
            <li><a href="../EAbout/honor.html">Honor & Award</a></li>
            <li><a href="../EAbout/technology.html">Core Tech</a></li>
            <li><a href="../EAbout/distributor.html">Distributor</a></li>

        </ul>
    </div>
</div>
<!---->
<div class="navLayer">
    <div class="bg">
        <div class="close">
            <a href="javascript:;" class="closeBtn"><img src="../En/images/close.png"></a>
        </div>
        <div class="box">
            <div class="form">
                <input type="text" class="input1 input_hover" id="txtkeye" title="Please enter the search content"
                       placeholder="Please enter the search content" onfocus="if (value ==''){value =''}"
                       onblur="if (value ==''){value=''}">
                <input type="button" class="btn1" onclick="searchse();" id="btnsearchse">
                <script type="text/javascript">

                    $(document).ready(function () {
                        $("#txtkeye").keydown(function (e) {
                            if (e.keyCode == 13) {

                                if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkey").value == "Please enter the search content" || document.getElementById("txtkeye").value == null)
                                { return false; }
                                document.getElementById("btnsearchse").click();
                            }
                        })
                    })

                    function searchse() {
                        if (document.getElementById("txtkeye").value == "" || document.getElementById("txtkeye").value == "Please enter the search content" || document.getElementById("txtkeye").value == null) {
                            alert("Please enter the search content");
                            //Salert("", "请输入关键字");
                            document.getElementById("txtkeye").focus();
                            return;
                        }
                        location.href = "/Eseacher.aspx?k=" + document.getElementById("txtkeye").value;

                    }

                    function EnterPress(e) { //传入 event
                        var e = e || window.event;
                        if (e.keyCode == 13) {
                            document.getElementById("btnsearchse").focus();
                        }
                    }
                </script>
            </div>
        </div>
        <div class="sideNav">


            <div class="subNav">
                <div class="name"><a href="product.html">Smart Lock</a></div>
            </div>

            <div class="subNav">
                <div class="name"><a href="../News/index.html">News</a></div>
            </div>
            <div class="subNav1 subNav">
                <div class="name">Contact</div>
            </div>
            <ul class="navContent">
                <li><a href="../EContact/contact.html">Contact</a></li>
            </ul>
            <div class="subNav1 subNav">
                <div class="name">About Kaadas</div>
            </div>
            <ul class="navContent">
                <li><a href="../EAbout/about.html">Brand</a></li>
                <li><a href="../EAbout/honor.html">Honor & Award</a></li>
                <li><a href="../EAbout/technology.html">Core Tech</a></li>
                <li><a href="../EAbout/distributor.html">Distributor</a></li>
            </ul>
            <div class="subNav">
                <div class="name"><a href="../index.htm">Home</a></div>
            </div>
        </div>
    </div>
</div>


<div class="productBox">
    <div class="wal">
        <div class="product">
            <div class="tab2">
                <ul>
                    <li class="liNow">
                        <div class="box">
                            <div class="limg"><img src="../vancheerfile/Images/2019/3/20190311042416526.jpg" alt=""><img
                                    src="../vancheerfile/Images/2019/3/20190311042412884.jpg" class="img1" alt=""></div>
                            <div class="name">Push-Pull Lock</div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <div class="limg"><img src="../vancheerfile/Images/2019/3/2019031104228956.jpg" alt=""><img
                                    src="../vancheerfile/Images/2019/3/20190311042212602.jpg" class="img1" alt=""></div>
                            <div class="name">Handle Lock</div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <div class="limg"><img src="../vancheerfile/Images/2019/3/20190311042223609.jpg" alt=""><img
                                    src="../vancheerfile/Images/2019/3/20190311042226991.jpg" class="img1" alt=""></div>
                            <div class="name">Rim Lock</div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <div class="limg"><img src="../vancheerfile/Images/2019/3/20190311042234724.jpg" alt=""><img
                                    src="../vancheerfile/Images/2019/3/20190311042238869.jpg" class="img1" alt=""></div>
                            <div class="name">Deadbolt Lock</div>
                        </div>
                    </li>

                </ul>
                <div class="clear_f"></div>
            </div>
            <div class="tabContentDiv2">
                <div class="tabContent2 list">
                    <ul>
                        <li>
                            <div class="box"><a href="product_100000049955316.html">
                                <div class="name">K20 Pro Max</div>
                                <div class="msg">Wi-Fi Lock with Camera</div>
                                <div class="content">Face Recognition | Camera | IPS Screen | Video Intercom</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/6/20230616161516163.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049279888.html">
                                <div class="name">K20 Pro</div>
                                <div class="msg">Wi-Fi Lock with Camera</div>
                                <div class="content">Camera | IPS Screen | Video Intercom</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/6/20230605155156496.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049272427.html">
                                <div class="name">K9-5W</div>
                                <div class="msg">Wi-Fi Push-Pull Lock</div>
                                <div class="content">Sensor Handle with Touch & Go Technology</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/4/20230427141824693.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000050624399.html">
                                <div class="name">Q3 VP</div>
                                <div class="msg">Push-Pull Lock with Camera</div>
                                <div class="content">Compatible with Different Mortises</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/8/20230831190017387.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000050682873.html">
                                <div class="name">Q3</div>
                                <div class="msg">Push-Pull Lock</div>
                                <div class="content">Compatible with Different Mortises</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/8/20230828135810985.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                    </ul>
                    <div class="clear_f"></div>
                </div>
                <div class="tabContent2 list">
                    <ul>
                        <li>
                            <div class="box"><a href="product_100000050663628.html">
                                <div class="name">S10-5W</div>
                                <div class="msg">Wi-Fi Narrow Stile Lock</div>
                                <div class="content">Compatible with Different CE Mortises</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/8/20230814160330561.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049244164.html">
                                <div class="name">S110-5W</div>
                                <div class="msg">Wi-Fi Lever Lock</div>
                                <div class="content">Mortise Driven by Clutch</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/4/20230427141928926.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049218769.html">
                                <div class="name">M5-W</div>
                                <div class="msg">Wi-Fi Lever Lock</div>
                                <div class="content">Compatible with Different CE Mortises</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/4/2023042714202113.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049238593.html">
                                <div class="name">M5</div>
                                <div class="msg">Smart Lever Lock</div>
                                <div class="content">Compatible with Different CE Mortises</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/4/20230427153552424.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000030322290.html">
                                <div class="name">L7-5</div>
                                <div class="msg">Smart Lever Lock</div>
                                <div class="content">Full Automatic Mortise Driven by Motor</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2020/5/20200525025956999.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049222762.html">
                                <div class="name">S500-C</div>
                                <div class="msg">Smart Lever Lock</div>
                                <div class="content">Mortise Driven by Clutch</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2021/6/20210628172121507.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000046468245.html">
                                <div class="name">S100</div>
                                <div class="msg">Smart Lever Lock</div>
                                <div class="content">Mortise Driven by Clutch</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2020/6/20200612125455520.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049953552.html">
                                <div class="name">KS03</div>
                                <div class="msg">Electronic Keypad Knob</div>
                                <div class="content">Keyless Entry Door Knob</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2022/5/20220531101955673.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049928896.html">
                                <div class="name">KS04</div>
                                <div class="msg">Electronic Lever Lock</div>
                                <div class="content">Advanced and Reversible Lever</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2022/5/20220531101443791.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000047889452.html">
                                <div class="name">RX-D</div>
                                <div class="msg">Smart Lever Lock</div>
                                <div class="content">Slim and Modern Design</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2021/6/20210607112219101.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049245926.html">
                                <div class="name">LH01</div>
                                <div class="msg">Smart Lever Lock</div>
                                <div class="content">Highly Integrated with Minimalist Design</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2021/5/20210517145310920.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                    </ul>
                    <div class="clear_f"></div>
                </div>
                <div class="tabContent2 list">
                    <ul>
                        <li>
                            <div class="box"><a href="product_100000046447720.html">
                                <div class="name">R6-5</div>
                                <div class="msg">Smart Rim Lock</div>
                                <div class="content">Come with Different Inside Panels</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2021/6/20210607112549001.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000047112451.html">
                                <div class="name">R6-2</div>
                                <div class="msg">Smart Rim Lock</div>
                                <div class="content">Come with Different Inside Panels</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2021/6/20210607112747846.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                    </ul>
                    <div class="clear_f"></div>
                </div>
                <div class="tabContent2 list">
                    <ul>
                        <li>
                            <div class="box"><a href="product_100000049299169.html">
                                <div class="name">KA202</div>
                                <div class="msg">Z-Wave Fingerprint Deadbolt</div>
                                <div class="content">More Functions with Z-Wave Connection</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/2/20230217131042345.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049288869.html">
                                <div class="name">KS01</div>
                                <div class="msg">Electronic Keypad Deadbolt</div>
                                <div class="content">Keyless Freedom and Convenience</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2021/6/20210607110722697.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000049997782.html">
                                <div class="name">KS02A</div>
                                <div class="msg">Electronic Fingerprint Deadbolt</div>
                                <div class="content">Fingerprint or Code, Up to You</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2023/2/20230224170048309.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                        <li>
                            <div class="box"><a href="product_100000047176119.html">
                                <div class="name">RX-C</div>
                                <div class="msg">Smart Deabolt Lock</div>
                                <div class="content">Slim and Modern Design</div>
                                <div class="imgDiv"><img src="../vancheerfile/Images/2021/6/20210607111829561.png"
                                                         alt=""></div>
                            </a></div>
                        </li>
                    </ul>
                    <div class="clear_f"></div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="footDiv">
    <div class="wal">
        <div class="leftDiv fl">
            <a href="../index.htm" class="logo"><img src="../En/images/logo2.png" alt=""></a>

            <p class="list-title"
               style="padding: 0.4rem 0 0.3rem;font-family: 'Gilroy-Medium';font-size: 16px;color: #fff;font-weight: bold;">
                Address</p>
            <div class="address">11F-14F, Building B2, Phase 2, Creative City, Chuangke <br>Road Xili Street, Nanshan
                District, Shenzhen, Guangdong, 518055, China
            </div>
            <div class="share">
                <ul>
                    <li><a href="https://www.facebook.com/Kaadas-Smart-Door-Lock-102428947923808/" target="_blank"><img
                            src="../En/images/nimg35_3.png"></a></li>
                    <li><a href="https://www.linkedin.com/company/kaadas-smart-door-locks/" target="_blank"><img
                            src="../En/images/nimgin.png"></a></li>
                    <li><a href="https://www.instagram.com/kaadasofficial/" target="_blank"><img
                            src="../En/images/nimg35_4.png"></a></li>
                    <li><a href="https://twitter.com/KaadasOfficial" target="_blank"><img
                            src="../En/images/nimg35_5.png"></a></li>

                </ul>
            </div>
        </div>
        <div class="footNav fl">
            <ul>
                <li>
                    <h2>About Kaadas</h2>
                    <dl>
                        <dd><a href="../EAbout/about.html">Brand</a></dd>
                        <dd><a href="../EAbout/honor.html">Honor & Award</a></dd>
                        <dd><a href="../EAbout/technology.html">Core Tech</a></dd>
                        <dd><a href="../EAbout/distributor.html">Distributor</a></dd>
                    </dl>
                </li>
                <li>
                    <h2>Smart Lock</h2>
                    <dl>

                        <dd><a href="product.html">Push-Pull Lock</a></dd>
                        <dd><a href="product.html">Handle Lock</a></dd>
                        <dd><a href="product.html">Rim Lock</a></dd>
                        <dd><a href="product.html">Deadbolt Lock</a></dd>
                    </dl>
                </li>

                <li>
                    <h2>Contact</h2>
                    <dl>
                        <dd><a href="../EContact/contact.html">Contact</a></dd>
                    </dl>
                </li>

            </ul>
        </div>

        <div class="links"><a href="../Eothers/policy.html">Privacy policy</a>|<a href="../Eothers/terms.html">Terms of
            service</a>|<a href="../EContact/contact.html">Contact</a></div>
        <div class="msg">Copyright © 2023 Shenzhen Kaadas Intelligent Technology Co., Ltd. All Rights Reserved. <a
                href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备13061693号</a> <a
                href="http://www.vancheer.cn" target="_blank">Powered by vancheer</a></div>
    </div>
</div>
<!---->
<div class="sideBar">
    <ul>

        <li>
            <div class="img cd-top"><a href=""><img src="../En/images/nimg34_2.png"></a></div>
        </li>
    </ul>
</div>


<div class="bdsharebuttonbox" style="display: none;"><a href="#" class="bds_more" data-cmd="more"></a><a
        title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone" id="qzone"></a><a title="分享到新浪微博"
                                                                                           href="#" class="bds_tsina"
                                                                                           data-cmd="tsina"
                                                                                           id="tsina"></a><a
        title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin" id="weixin"></a><a title="分享到QQ好友"
                                                                                            href="#" class="bds_sqq"
                                                                                            data-cmd="sqq" id="sqq"></a>
</div>
<script>
    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
<script type="text/javascript">


    function qzone() { document.getElementById("qzone").click(); }
    function tsina() { document.getElementById("tsina").click(); }
    function weixin() { document.getElementById("weixin").click(); }


    function sqq() { document.getElementById("sqq").click(); }

</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3JS7J7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>


</body>
</html>
