/*banner*/
.ind-banner{width: 100%; height: 100vh;overflow: hidden;} 
.ind-banner .swiper-slide {height: 100vh; color: #fff; } 
.ind-banner .swiper-slide {position: relative;}
.ind-banner .swiper-slide img{width: 100%;}
.ind-banner .swiper-slide a{ display: block; width: 100%; height: 100%; }
.ind-banner .swiper-pagination{  text-align: center; left: 0; width: 100%; bottom: 32px!important; } 
.ind-banner .swiper-pagination-bullet {width: 13px; height: 13px; opacity: 1; background: url(../images/ico1.png) center no-repeat; margin-left:12px!important; } 
.ind-banner .swiper-pagination-bullet-active {background: url(../images/ico1on.png) center no-repeat!important; } 
.ind-banner .one{position: absolute; left: 0; top:45vh; text-align: center; width: 100%;} 
.ind-banner .one .txt{font-size: 72px;color:#fff; line-height: 72px; font-family:thin;} 
.ind-banner .one .txt span{ padding: 0 125px; }
.ind-banner .one .msg{ font-size: 24px; color: #fff; padding-top: 40px; } 
.ind-banner .one .msg em{ padding: 0 100px; }
.ind-banner .one .msg b{ padding: 0 100px; }
.ind-banner .two{ position: absolute; left: 50%; margin-left: -600px; top: 50%; margin-top: -130px; font-family:thin;} 
.ind-banner .two .msg{  font-size: 18px; color: #37c3e3; border: #37c3e3 solid 2px; width: 166px; height: 28px; border-radius: 24px; -moz-border-radius: 24px; text-align: center; line-height: 28px;} 
.ind-banner .two .txt{ color: #f7f7f7; font-size: 72px; line-height: 72px; padding: 25px 0 10px;}
.ind-banner .two .txt em{ padding-right: 16px; }
.ind-banner .two .wen{ font-size: 30px; color: #f7f7f7;} 
.ind-banner .two .ico{ margin-top: 30px; display: block; width: 169px; height: 49px; background: url(../images/btn1.png) no-repeat center; text-indent: 32px; line-height: 48px; color: #fff; font-size: 18px;} 
.ind-banner .txt3{text-align: center; top:40vh; left: 0; right: 0;} 
.ind-banner .txt3 em{font-size: 20px;color: #283b59}
.ind-banner .swiper-button-prev{ left: 5%; margin-top: -44px; } 
.ind-banner .swiper-button-next{ right: 5%; margin-top: -44px; } 


/*banner结束*/

.bannerTel{ display: none; }
.indexFlashTel{position:relative; overflow:hidden; max-width:1004px;}
.indexFlashTel .slick img{ width:100%;}
.indexFlashTel .slick-dots{position:absolute; z-index:10; left:0px; bottom:12px; width:100%; text-align:center;}
.indexFlashTel .slick-dots li{display:inline-block; margin:0 6px; width:13px; height:13px; background:url(../images/ico1.png) no-repeat center; cursor:pointer; background-size: 10px;}
.indexFlashTel .slick-dots .slick-active{ background:url(../images/ico1on.png) no-repeat center; background-size: 10px;}

.indexTitle{ text-align: center; }
.indexTitle .title1{ font-weight: bold; font-size: 40px; line-height: 40px; color: #fff;}
.indexTitle .title2{ /*padding-top: 20px; font-size: 24px; color: #777b80; text-transform: uppercase;*/    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #fff;}

.indexPart1{ /*border-top: #29292c solid 10px;*/ padding-top: 85px; height: 835px; background: url(../images/indexPart1.jpg) no-repeat center; background-size: cover;}
.indexPart1 .msg{ text-align: center; font-size: 16px; color: #a0a3a8; padding: 24px 0 36px;}
.indexPart1Pic{ position: relative; }
.indexPart1Pic .slick .box{ margin: 0 6px; height: 485px;padding-bottom:15px; background: url(../images/nimg390Bg.jpg) no-repeat center; background-size: 100% 100%;}
.indexPart1Pic .slick .box2{ background: url(../images/nimg390Bg2.jpg) no-repeat center; background-size: 100% 100%;}
.indexPart1Pic .slick .box3{ background: url(../images/nimg390Bg3.jpg) no-repeat center; background-size: 100% 100%;}
.indexPart1Pic .slick a{ display: block; width: 100%; height: 90%; }
.indexPart1Pic .slick .imgDiv{ text-align: center; padding: 40px 0 10px; }
.indexPart1Pic .slick .name{ text-align: center; font-size: 24px; color: #fff; font-weight: bold; height: 32px; line-height: 32px; overflow: hidden;}
.indexPart1Pic .slick .wen{ font-size: 16px; color: #fff; text-align: center; }
.indexPart1Pic .slick-prev{ display: block; position: absolute; left: -80px; top: 50%; margin-top: -24px; width: 48px; height: 48px; background: url(../images/nimg48_left.png) no-repeat center; z-index: 5;}
.indexPart1Pic .slick-next{ display: block; position: absolute; right: -80px; top: 50%; margin-top: -24px; width: 48px; height: 48px; background: url(../images/nimg48_right.png) no-repeat center; z-index: 5;}
.indexPart1Pic .slick-prev:hover{ background: url(../images/nimg48_lefton.png) no-repeat center; }
.indexPart1Pic .slick-next:hover{ background: url(../images/nimg48_righton.png) no-repeat center; }

.indexPart2{ background: url(../images/indexPart2.jpg) no-repeat center; background-size: cover; padding-top: 105px; height: 835px; position: relative;}
.indexPart2 .contentBox{ overflow: hidden; }
.indexPart2 .leftDiv{ padding-top: 70px; }
.indexPart2 .txt{ color: #fff; font-size: 30px; padding-bottom: 20px; }
.indexPart2 .wen{ color: #fff; font-size: 16px; padding-bottom: 45px; }
.indexPart2 .videoImg{ border: #343434 solid 1px; -webkit-box-shadow: 0 17px 40px 0 rgba(0,0,0,.6); box-shadow: 0 17px 40px 0 rgba(0,0,0,.6);}
.indexPart2 .more{ padding-top: 55px; }
.indexPart2 .more a{ display: block; width: 96px; color: #fff; font-size: 16px; background: url(../images/nimg9_1.png) no-repeat right center; }
.indexPart2 .imgDiv{ position: absolute; right: 50%; margin-right: -715px; bottom: 0px; }
    .indexPart2 .videoImg video
    {
        width:478px;
    }
.indexPart3{ background: url(../images/indexPart3.jpg) no-repeat center; background-size: cover; padding-top: 60px; height: 860px; overflow: hidden;}
.indexPart3 .tab2{ padding-top: 25px; height: 56px;}
.indexPart3 .tab2 li{ float: left; font-size: 16px; color: #a0a3a8; height: 30px; margin-right: 56px;}
.indexPart3 .tab2 .liNow{ color: #37c3e3; border-bottom: #37c3e3 solid 2px;}
.indexPart3 .detail{ width: 566px; height: auto; background: #29292c; }
.indexPart3 .detail a{ display: block; width: 100%; height: 100%; }
.indexPart3 .detail a .imgDiv{height: 410px;}
.indexPart3 .detail .botDiv{ padding: 20px 130px 20px 42px; }
.indexPart3 .detail .name{ line-height: 30px; font-size: 18px; color: #a0a3a8; font-weight: bold; height: auto; overflow: hidden; }

.indexPart3 .detail .time{ padding-top: 15px; color: #777b80; font-weight: bold; font-size: 14px; }
.indexPart3 .list{ width: 585px; }
.indexPart3 .list li{ margin-bottom: 24px; /*height: 173px;*/ }
.indexPart3 .list li a{ display: block;  padding: 0 28px 0 272px; position: relative; background: #29292c;}
.indexPart3 .list li .imgDiv{ position: absolute; left: 0px; top: 0px; width: 220px; height: 100%;}
.indexPart3 .list li .imgDiv img{ width:100%; height: 100%; object-fit: cover;}

.indexPart3 .list li .name{  height: 60px; line-height: 30px; overflow: hidden; color: #a0a3a8; font-size: 14px; font-weight: bold; }
.indexPart3 .list li .time{  color: #777b80; font-weight: bold; font-size: 14px;}
.indexPart3 .list li:hover a{ background: #c9c9c9; }
.indexPart3 .list li:hover .name{ color: #777b80; }
.indexPart3 .list li:hover .time{ color: #a0a3a8; }
.indexPart3 .btnDiv{ margin: 42px auto 0; width: 148px; text-transform: uppercase;}
.indexPart3 .btnDiv a{ display: block; width: 144px; height: 34px; border: #37c3e3 solid 2px; border-radius: 24px; -moz-border-radius: 24px; font-size: 16px; color: #37c3e3; text-align: center; line-height: 34px;}
.indexPart3 .btnDiv a:hover{ background: #37c3e3; color: #fff; }

.about{ overflow: hidden; padding-bottom: 70px; }
.about .leftCon{ width: 450px; }
.about .txt1{ font-size: 24px; color: #29292c; padding: 20px 0 10px;}
.about .txt2{ font-size: 48px; color: #29292c; text-transform: uppercase; padding-bottom: 40px; }
.about .content{ font-size: 16px; color: #a0a3a8; line-height: 30px; }
.about .rightDiv{ width: 600px; }
.aboutPic{ position: relative; }
.aboutPic .imgDiv img{ width: 100%; }
.aboutPic .slick-prev{ position: absolute; left: -62px; bottom: 0px; display: block; width: 62px; height: 62px; background: url(../images/nimg62_left.png) no-repeat center; z-index: 3;}
.aboutPic .slick-next{ position: absolute; left: 0px; bottom: 0px; display: block; width: 62px; height: 62px; background: url(../images/nimg62_right.png) no-repeat center; z-index: 3;}
.aboutPic .slick-prev:hover{ background: url(../images/nimg62_lefton.jpg) no-repeat center;}
.aboutPic .slick-next:hover{ background: url(../images/nimg62_righton.jpg) no-repeat center;}

.honor{ padding-bottom: 70px; }
.honor .txt1{ font-size: 24px; color: #29292c; padding-bottom: 10px;}
.honor .txt2{ font-size: 48px; color: #29292c; text-transform: uppercase; padding-bottom: 20px; }
.honor .msg{ font-size: 16px; color: #777b80; padding-bottom: 70px; }
.honor .list{ padding: 0 130px 75px; }
.honor .list li{ float: left; width: 33.33%; text-align: center; }
.honor .list li .name{ padding-top: 15px; color: #a0a3a8; font-size: 14px; }
.honor .list2 li{ float: left; width: 25%; text-align: center; }
.honor .list2 li .name{ padding-top: 15px; color: #a0a3a8; font-size: 14px; }
.honor2{ background: #f7f7f7; padding: 100px 0; }
.honorPic{min-height:500px; position:relative;}
.honorPic .list{padding:56px 0 0; width:1200px; margin:0 auto;}
.honorPic li{float:left; width:380px; margin:0 10px; margin-bottom:30px;  box-shadow: 0 5px 20px #e7e7e7;}.honorPic li .box{ background: #fcfcfc; }
.honorPic li .imgDiv{ padding: 25px 20px 0;}
.honorPic li img{ width:100%;}
.honorPic li .name{ height: 60px; line-height: 60px; color: #868686; text-align:center; font-size:16px;}
.honorPic .prev{display:block; background:url(../images/nimg34_left.png) center no-repeat; width:34px; height:34px; position:absolute; z-index:50; left:-72px; top:50%; margin-top:-17px;}
.honorPic .next{display:block; background:url(../images/nimg34_right.png) center no-repeat; width:34px; height:34px; position:absolute; z-index:50; right:-72px; top:50%; margin-top:-17px;}
.honorPic .prev:hover{ background:url(../images/nimg34_lefton.png) center no-repeat;}
.honorPic .next:hover{ background:url(../images/nimg34_righton.png) center no-repeat;}
.honorLayer{position:absolute; z-index:20; left:50%; top:0px; width:578px;  margin-left:-289px; height: 484px;}
.honorLayer .imgDiv{  padding: 35px 30px 0; background: #fff;-webkit-box-shadow: 0 17px 40px 0 hsla(230,9%,48%,.2); box-shadow: 0 17px 40px 0 hsla(230,9%,48%,.2);}
.honorLayer .imgDiv img{ width: 100%; }
.honorLayer .name{ display:block; text-align:center; height: 70px; line-height: 70px; font-size: 16px; background: #fff; color: #868686;-webkit-box-shadow: 0 17px 40px 0 hsla(230,9%,48%,.2); box-shadow: 0 17px 40px 0 hsla(230,9%,48%,.2);}


.h_banner{padding: 0 86px;position: relative;}
.h_banner .swiper-slide {width: 500px; background:#fff; padding-bottom:15px;}
.h_banner .swiper-slide .img{ padding:25px;}
.h_banner .swiper-slide img{width: 100%;}
.h_banner .swiper-slide p{font-size: 16px;text-align: center; height:48px; line-height:48px;}
.h_banner .swiper-slide-active p{ font-size:16px;}
.h_banner .swiper-button-prev{width: 34px;height: 34px;margin-top:-17px;left: 0px;background: url("../images/nimg34_left.png") no-repeat left; z-index:5;} 
.h_banner .swiper-button-next{width: 34px;height: 34px;margin-top:-17px;right: 0px;background: url("../images/nimg34_right.png") no-repeat right; z-index:5;} 
.h_banner .swiper-button-prev:hover{background-image:url("../images/nimg34_lefton.png"); } 
.h_banner .swiper-button-next:hover{background-image:url("../images/nimg34_righton.png"); } 


.bigPicLayer{ width:778px; height:570px; /*background:#fff;*/ position:absolute; z-index:111; display:none;}
.bigPicLayer .close{ display:block; width:28px; height:28px; background:url(../images/close2.jpg) no-repeat; right:18px; top:18px; position:absolute; z-index:222;}
.bigPicLayer .name{ height: 82px; line-height: 82px; text-align: center; font-size: 18px; color: #000; font-weight: bold; }
.bigPicLayer .imgDiv{ text-align:center;}
.bigPicLayer .imgDiv img{ width:620px;}

.honorPicTel{ position:relative; padding-bottom: 60px;}
.honorPicTel .slick img{ width:100%;}
.honorPicTel .slick .name{ text-align:center; height: 40px; line-height: 40px; font-size:14px; overflow: hidden;}
.honorPicTel .slick-prev{display:block; background:url(../images/nimg34_left.png) center no-repeat; width:34px; height:34px; position:absolute; z-index:50; left:50%; bottom: 10px; margin-left:-56px;}
.honorPicTel .slick-next{display:block; background:url(../images/nimg34_right.png) center no-repeat; width:34px; height:34px; position:absolute; z-index:50; right:50%; bottom: 10px; margin-right:-56px;}
.honorPicTel .slick-prev:hover{ background:url(../images/nimg34_lefton.png) center no-repeat;}
.honorPicTel .slick-next:hover{ background:url(../images/nimg34_righton.png) center no-repeat;}

.technology{ padding-bottom: 10px; }
.technology .txt1{ font-size: 24px; color: #29292c; padding-bottom: 10px;}
.technology .txt2{ font-size: 48px; color: #29292c; text-transform: uppercase; padding-bottom: 60px; }
.technology .list li{ height: 398px; position: relative; padding: 0 155px 0 692px; background: #f6f6f6; margin-bottom: 70px;}
.technology .list li .contentBox{ height: 398px; display: table-cell; vertical-align: middle; }
.technology .list li .name1{ font-weight: bold; font-size: 24px; color: #29292c; padding-bottom: 10px;}
.technology .list li .name2{ font-size: 16px; color: #7d7d7d; padding-bottom: 30px;}
.technology .list li .imgDiv{ position: absolute; left: 0px; top: 0px; }
.technology .list li dd{ font-size: 14px; line-height: 30px; padding-left: 20px; background: url(../images/ico2.png) left 12px no-repeat; }
.technology .list li .content{ font-size: 14px; line-height: 30px; color: #fff;  }
.technology .list .li01{ padding: 0 655px 0 86px; background: #37c3e3; }
.technology .list .li01 .imgDiv{ left: auto; right: 0px; }
.technology .list .li01 .name1{ color: #fff; }
.technology .list .li01 .name2{ color: #fff; }
.technology .list .li01 dd{ color: #fff; background: url(../images/ico2on.png) left 12px no-repeat; }
.technology .list .other{ height: 475px; }
.technology .list .other .contentBox{ height: 475px; }

.case{ padding-bottom: 55px; }
.case .txt1{ font-size: 24px; color: #29292c; padding-bottom: 10px;}
.case .txt2{ font-size: 48px; color: #29292c; text-transform: uppercase; padding-bottom: 30px; }
.case .toutou{ height: 70px; position: relative; }
.case .msg{ font-size: 16px; color: #29292c; }
.case .tab22{ position: absolute; right: 0px; top: 0px; }
.case .tab22 li{ float: left; font-size: 16px; color: #29292c; margin-left: 35px;}
.case .tab22 li a{ display:block;}
.case .tab22 li .aNow{ color: #37c3e3; }
.case .list{ padding-bottom: 44px; }
.case .list ul{ margin-right: -32px; }
.case .list li{ float: left; width: 50%; margin-bottom: 32px;}
.case .list li .box{ margin-right: 32px; position: relative;}
.case .list li .imgDiv img{ width: 100%; }
.case .list li .hideBox{ position: absolute; left: 0px; top: 0px; width: 100%; display: none; z-index: 2; background: url(../images/bg3.png) repeat; }
.case .list li .hideBox a{ display: block; width: 100%; height: 100%; }
.case .list li .mxf{ height: 110px; position: absolute; left: 0px; width: 100%; top: 50%; /*margin-top: -55px;*/}
.case .list li .name{ text-align: center; color: #fff; font-weight: bold; font-size: 22px; }
.case .list li .ico{ text-align: center; padding-top: 20px; }

.quesTab{ text-align: center; padding-bottom: 60px;}
.quesTab li{ display: inline-block; margin: 0 18px;}
.quesTab li a{ height: 32px; font-size: 16px; color: #747474; display: block;}
.quesTab li .aNow, .quesTab li a:hover{ color: #3bcaf6; border-bottom: #3bcaf6 solid 4px; }

.question{ padding-bottom: 30px; }
.question .txt1{ font-size: 24px; color: #29292c; padding-bottom: 10px;}
.question .txt2{ font-size: 48px; color: #29292c; text-transform: uppercase; padding-bottom: 10px; }
.question .list{ padding-bottom: 75px; }
.question .list li{ padding-top: 45px; height: 122px; background: url(../images/line1.png) bottom repeat-x;}
.question .list li .wen{ margin-bottom: 13px; padding-left: 46px;  position: relative; line-height: 24px; padding-top: 3px; font-size: 14px; font-weight: bold;}
.question .list li .wen em{ font-weight: 400; position: absolute; left: 0px; top: 0px; background: url(../images/limg27_1.png) no-repeat; display: block; width: 27px; height: 27px; color: #fff; font-size: 14px; line-height: 27px; text-align: center;}
.question .list li .da{ padding-left: 46px;  position: relative; line-height: 24px; padding-top: 3px; font-size: 14px; height: 48px; overflow: hidden;}
.question .list li .da em{ font-weight: 400; position: absolute; left: 0px; top: 0px; background: url(../images/limg27_2.png) no-repeat; display: block; width: 27px; height: 27px; color: #fff; font-size: 14px; line-height: 27px; text-align: center;}

.maintain{ overflow: hidden; padding-bottom: 70px;}
.maintain .leftDiv{ width: 600px; }
.maintain .txt1{ font-size: 24px; color: #29292c; padding-bottom: 10px;}
.maintain .txt2{ font-size: 48px; color: #29292c; text-transform: uppercase; padding-bottom: 50px; }
.maintain .content{ font-size: 16px; line-height: 30px; color: #777b80; }
.maintain .rightImg{ padding-top: 40px; }

.service{ overflow: hidden; padding-bottom: 10px;}
.service li{ overflow: hidden; margin-bottom: 85px; }
.service .leftDiv{ width: 630px; }
.service .txt1{ font-size: 24px; color: #29292c; padding-bottom: 10px;}
.service .txt2{ font-size: 48px; color: #29292c; text-transform: uppercase; padding-bottom: 55px; }
.service .msg{ font-size: 16px; color: #575757; font-weight: bold; line-height: 30px; padding-bottom: 30px;}
.service .content{ font-size: 16px; line-height: 30px; color: #777b80; }
.service .rightImg{ padding-top: 40px; }
.service .rightImg2{ padding-top: 0px; }
.service .tel{ padding-top: 35px; color: #585858; font-weight: bold; font-size: 16px; }
.service .tel em{ padding-left: 40px; }

/*.videoPic .agentlist{ height:243px;}*/
.video{ padding-bottom: 80px; }
.videoPic .agentlist{ margin:0 -12px;}

.videoPic .agentlist .slick-slide{float:left; margin:0 12px;}
.videoPic .slick-slide .ico{ opacity: .5;}
.videoPic .slick-slide .name{ padding-top:20px; font-size:18px; text-align:center;}
.videoPic .slick-slide img{ width:100%;}
.videoPic .agentlist .slick-current .ico{ opacity: 1;}
.videoPic .agentlist .slick-current .name{ color:#37c3e3;}
.videoPic .slick-prev{ cursor:pointer;position:absolute; background:url(../images/nimg48_left2.png) no-repeat left center; width:48px; height:48px; top:50%; margin-top:-24px; left:-65px; z-index:22}
.videoPic .slick-next{ cursor:pointer;background: url(../images/nimg48_right2.png) no-repeat right center; width: 48px; height: 48px; position: absolute; top:48%; margin-top:-24px; right: -65px; z-index:22}
.videoPic .slick-prev:hover{ background:url(../images/nimg48_left2on.png) no-repeat left center;}
.videoPic .slick-next:hover{ background:url(../images/nimg48_right2on.png) no-repeat left center;}
.videoPic .slider-for .box{ position:relative; padding-bottom:44px;}
.videoPic .slider-for .imgDiv{ text-align:center; width:1200px; margin:0 auto;}
 .videoPic .slider-for video
    {
    width:1200px;
    height:759px;
    }
.videoPic .slider-for .title{ text-align: center; font-size: 26px; color: #29292c; padding-bottom: 15px; }
.videoPic .slider-for .time{ font-size: 14px; color: #9c9c9c; padding-bottom: 40px; text-align: center; }

.productBox{ background: #f5f5f5; padding: 30px 0 85px;}
.product .tab2{ padding-bottom: 60px; }
.product .tab2 li{ float: left; width: 20%; text-align: center; }
.product .tab2 li .limg .img1{ display: none; }
.product .tab2 li .name{ font-size: 16px; color: #5c5c60; padding-top: 10px; }
.product .tab2 .liNow .name{ color: #37c3e3; font-weight: bold; }
.product .tab2 .liNow .limg img{ display: none; }
.product .tab2 .liNow .limg .img1{ display: inline-block; }
.product .list ul{ margin-right: -30px; }
.product .list li{ float: left; width: 50%; margin-bottom: 30px; }
.product .list li .box{ margin-right: 30px; background: #fff; position: relative; height: 300px; overflow: hidden; transition:all 0.3s; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;}
.product .list li a{ position: relative; display: block; width: 100%; height: 100%; }
.product .list li .imgDiv{ position: absolute; right: 50px; top: 0px; }
.product .list li .imgDiv img{ transition:2s;-moz-transition:2s;-webkit-transition:2s;-o-transition:2s;}
.product .list li .name{ padding: 65px 0 0 40px; font-size: 36px; color: #000; }
.product .list li .msg{ padding: 10px 0 0 40px; height: 30px; line-height: 30px; overflow: hidden; font-size: 24px; color: #000; }
.product .list li .content{ color: #777; font-size: 14px; line-height: 24px; padding: 30px 0 0 40px; height: 48px; overflow: hidden; width: 275px; }
.product .list li:hover .box{ -webkit-box-shadow: 0 17px 40px 0 hsla(230,9%,48%,.2); box-shadow: 0 17px 40px 0 hsla(230,9%,48%,.2); -webkit-transform: translate3d(0, -2px, 0); transform: translate3d(0, -2px, 0);}
.product .list li:hover .imgDiv img{ transform:scale(1.1);-webkit-transform:scale(1.1);}

.PC-Box img
{
    width:100%;
}

.proMsg{ height: 58px; background: #1a1a1a; }
.proMsg .name{ color: #fff; line-height: 58px; font-size: 30px; font-weight: bold; }
.proMsg .list li{ float: left; margin-left: 58px; line-height: 58px; font-size: 16px;}
.proMsg .list li a{ color: #777b80; }
.proMsg .list .liNow{ color:#fff;}
.proMsg .list li a:hover, .proMsg .list li .aNow{ color: #fff;}
.proMsg .list li .btn1{ margin-top: 12px; display: block; width: 102px; height: 34px; background: #37c3e3; border-radius: 4px; -moz-border-radius: 4px; line-height: 34px; text-align: center; color: #fff; }

.parameter{ padding:100px 0;}
.parameter .title{ text-align: center; color: #000; font-size: 24px; padding-bottom: 38px; }
.parameter .leftDiv{ padding-left: 70px; width: 503px;}
.parameter .rightDiv{ padding-right: 70px; width: 503px;}
.parameter .list{ border-left: #d9d9d9 solid 1px; border-top: #d9d9d9 solid 1px; }
.parameter .list li{ color: #a0a3a8; border-right: #d9d9d9 solid 1px; border-bottom: #d9d9d9 solid 1px; position: relative; height: 47px; padding-left: 250px; font-size: 14px; line-height: 47px;}
.parameter .list li em{ background: #f5f5f5; text-indent: 18px; position: absolute; left: 0px; top: 0px; width: 165px; border-right: #d9d9d9 solid 1px; height: 47px; color: #000; }
.parameter .rightDiv li{ padding-left: 210px;}

.news{ padding-bottom: 80px; }
.news .list ul{ margin-right: -72px; }
.news .list li{ float:  left; margin-bottom: 85px;}
.news .list li .box{ width: 352px; margin-right: 72px; height: 498px; border-bottom: #959595 solid 1px; -webkit-transition: all .2s linear; transition: all .2s linear;}
.news .list .li01 .box{ width: 776px; } 
.news .list li .imgDiv{ position: relative; }
.news .list li .imgDiv img{ width: 100%; }
.news .list li .name{ padding-top: 40px; height: auto; line-height: 22px; font-size: 16px; font-weight: bold; overflow: hidden;}
.news .list li .name a{ color: #353535; }
.news .list li .name a:hover{ text-decoration: underline; }
.news .list li .content{ padding-top: 20px; line-height: 28px; height: 56px; overflow: hidden; }
.news .list li .content a{ color: #949494; }
.news .list li .botDiv{ padding-top: 25px; position: relative;}
.news .list li .time a{ color: #bfbfbf; }
.news .list li .add{ position: absolute; right: 0px; top: 25px; width: 11px; height: 11px;}
.news .list li .imgDiv2{ position: relative; }
.news .list li .imgDiv2 img{ width: 100%; }
.news .list li .wen{ position: absolute; left: 0px; bottom: 0px; width: 100%; height: auto; padding: 15px 38px; background: url(../images/bg1.png) repeat; }
.news .list li .name2{  height: auto; line-height: 26px; overflow: hidden; font-size: 16px; color: #fff; font-weight: bold; }
.news .list li .time2{ position: absolute; right: 40px; top: 0px; line-height: 52px; color: #fff; }
.news .list li:hover .box{ -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }

.newShow{ width: 845px; }
.newShow .name{ font-size: 24px; color: #000; font-weight: bold; padding-bottom: 15px; }
.newShow .time{ color: #bfbfbf; padding-bottom: 40px; border-bottom: #f3f3f3 solid 1px;}
.newShow .content{ padding: 30px 0 60px; font-size: 14px; line-height: 36px; color: #999; }
.newShow .content li{list-style-type: disc; margin-left: 20px;}
.newShow .content .videoWrap{position: relative; padding-top: 56.25%; overflow: hidden;}
.newShow .content .videoWrap embed, .newShow .content .videoWrap iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;}
.newShow .content  video{width: 100%; height: auto;}
.newShow .imgDiv{ padding: 35px 0; }
.newShow .imgDiv img{ width: 845px; }

.pageDown{height:150px; position:relative;}
.pageDown .box{ border-top:#f3f3f3 dashed 1px; padding-top:45px;}
.pageDown .btn{position:absolute; display:block; top:58px; right:0px; width:128px; height:40px; background:#37c3e3; text-align: center; line-height:40px; color:#fff; font-size:14px; border-radius: 24px; -moz-border-radius: 24px;}
.pageDown li{ height:32px; line-height:32px; overflow:hidden; position:relative; font-size:14px;}
.pageDown li b{ color:#333;}

.sideNews li{ border-bottom: #959595 solid 1px; padding-bottom: 20px; margin-bottom: 50px;}
.sideNews li .imgDiv img{ width: 100%; }
.sideNews li .name{ padding-top: 20px; line-height: 24px; height: 48px; font-weight: bold; color: #333; overflow: hidden; font-size: 14px;}
.sideNews li .time{ color: #bfbfbf; padding-top: 10px;}
.contact .mapDiv {
    width: 1200px;
    height: 489px;
}
.contact{ padding-bottom: 80px; }
.contact .toptop{ padding-bottom:100px;}
.contact .midDiv{ padding-top: 55px;padding-bottom: 45px; height: auto; background: #f4f4f4; overflow:hidden; display: flex; justify-content: space-between; align-items: center;}
.contact .midDiv .lala{ width: 379px; border-right: #ddd solid 1px; height: 160px; text-align: center;}
.contact .midDiv .logo{ padding-top:40px;}
.contact .midDiv .lala p{ padding-top:15px; font-size:16px; color:#333;}

.contact .midDiv .lie{ padding-left: 52px; padding-right: 30px; width: 821px; box-sizing: border-box;}
.contact .midDiv .lie li{ font-size: 14px; padding-left: 26px; position: relative; margin-bottom: 15px;}
.contact .midDiv .lie li img{ position: absolute; left: 0px; top: 4px; }
.contact .mxfDiv{ height:auto; background: url(../images/contactBg.jpg) center no-repeat; background-size: cover;}
.contact .list{ padding: 30px 0; }
.contact .list ul{ margin-right: -50px; }
.contact .list li{ float: left; width: 25%; padding: 50px 0;}
.contact .list li .box{ margin-right: 50px; padding-bottom: 15px;}
.contact .list li .name{ font-size: 18px; color: #fff; height: 40px;}
.contact .list li .msg{ font-size: 14px; line-height: 30px; color: rgba(255,255,255,0.6); }
.contact .list li .msg a{ font-size: 14px; line-height: 30px; color: rgba(255,255,255,0.6); }
.contact .part3{ padding-top:95px;}
.contact .part3 .title{ text-align:center; font-size:28px; color:#333; padding-bottom:25px;}
.contact .part3 .form{ width:800px; margin:0 auto;}
.contact .part3 ul{ margin-right:-15px;}
.contact .part3 li{ float:left; width:50%; padding-bottom:20px;}
.contact .part3 .li01{ width:100%;}
.contact .part3 li .lbox{ margin-right:15px; position:relative;}
.contact .part3 li select{ text-indent:25px; position:relative; height:68px; line-height:68px; border:#ebebeb solid 1px; box-sizing:border-box; width:100%; color:#999; font-size:16px;}
.contact .part3 li .select:after{content: '*'; position: absolute; right: 30px; top: 25px;  color: #f00; font-size: 16px; font-weight: 100;}
.contact .part3 li .txt{ font-size:16px; color:#999; position:absolute; left:30px; top:24px;}
.contact .part3 li .txt em{ color: #f00;}
.contact .part3 li .input1{ height:68px; line-height:68px; width:100%; padding-left:160px; color:#999; font-size:16px; border:#ebebeb solid 1px; box-sizing:border-box;}
.contact .part3 textarea{ width:100%; height:200px; border:#ebebeb solid 1px; box-sizing:border-box;}
.contact .part3 .btn{ display:block; width:150px; height:50px; color:#fff; text-align:center; line-height:50px; background:#37c3e3; font-size:16px;}
.joinPart1{ padding: 100px 0 115px; }
.joinPart1 .title{ text-align: center; color: #29292c; font-size: 36px; position: relative; padding-bottom: 32px; }
.joinPart1 .title em{ position: absolute; left: 50%; bottom: 0px; width: 26px; height: 3px; display: block; margin-left: -13px; background: #37c3e3;}
.joinPart1 .msg{ padding: 40px 0 60px; font-size: 16px; text-align: center; line-height: 36px; }
.joinPart1 .imgDiv{ text-align: center; }
.joinPart2{ background: #f7f7f7; padding: 80px 0 100px; }
.joinPart2 .title{ text-align: center; color: #29292c; font-size: 36px; position: relative; padding-bottom: 32px; }
.joinPart2 .title em{ position: absolute; left: 50%; bottom: 0px; width: 26px; height: 3px; display: block; margin-left: -13px; background: #37c3e3;}
.joinPart2 .msg{ padding: 40px 0 60px; font-size: 16px; text-align: center; line-height: 36px; }
.joinPart2 .list{ padding: 0 130px; }
.joinPart2 .list li{ float: left; width: 25%; text-align: center;}
.joinPart2 .list li .ico{ position: relative; }
.joinPart2 .list li .name{ padding-top: 22px; font-size: 16px; color: #888; }
.joinPart3{ padding: 110px 0; overflow: hidden;}
.joinPart3 .leftImg{ width: 590px; }
.joinPart3 .rightCon{ width: 415px; }
.joinPart3 .title{ color: #29292c; font-size: 36px; position: relative; padding: 38px 0 32px; }
.joinPart3 .title em{ position: absolute; left: 0; bottom: 0px; width: 26px; height: 3px; display: block; background: #37c3e3;}
.joinPart3 .list{ padding-top: 46px; }
.joinPart3 .list li{ margin-bottom: 20px; padding-left: 72px; height: 49px; line-height: 49px; font-size: 16px; color: #777b80; position: relative;}
.joinPart3 .list li .num{ font-size: 18px; position: absolute; left: 0px; top: 0px; width: 49px; height: 49px; background: #edeef0; text-align: center; line-height: 49px; border-radius: 4px; -moz-border-radius: 4px; }
.joinPart4{ padding-top: 80px; overflow: hidden; height: 838px; background: url(../images/joinPart4.jpg) center no-repeat; background-size: cover;}
.joinPart4 .title{ margin-bottom: 46px; text-align: center; color: #29292c; font-size: 36px; position: relative; padding-bottom: 32px; }
.joinPart4 .title em{ position: absolute; left: 50%; bottom: 0px; width: 26px; height: 3px; display: block; margin-left: -13px; background: #37c3e3;}
.joinPart4 .listBox{ width: 1200px; height: 603px; background: url(../images/bg4.png) repeat; border-radius: 8px; -moz-border-radius: 8px;}
.joinPart4 .list{ padding: 55px 105px 0; background: url(../images/nimg991Bg.png) center 55px no-repeat; }
.joinPart4 .list li{ float: left; width: 25%; height: 246px;}
.joinPart4 .list li .box{ padding: 0 22px; }
.joinPart4 .list li .ico{ text-align: center; padding: 32px 0 18px; }
.joinPart4 .list li .name{ text-align: center; color: #fff; font-weight: bold; font-size: 16px; padding-bottom: 5px;}
.joinPart4 .list li .msg{ color: #fff; opacity: 0.6; font-size: 14px; line-height: 22px; }
.joinPart5{ padding: 80px 0 50px; }
.joinPart5 .title{ text-align: center; color: #29292c; font-size: 36px; position: relative; padding-bottom: 32px; }
.joinPart5 .title em{ position: absolute; left: 50%; bottom: 0px; width: 26px; height: 3px; display: block; margin-left: -13px; background: #37c3e3;}
.joinPart5 .list{ padding-top: 46px; }
.joinPart5 .list ul{ margin-right: -40px; }
.joinPart5 .list li{ float: left; width: 33.33%; margin-bottom: 38px;}
.joinPart5 .list li .box{ border-radius: 6px; -moz-border-radius: 6px; margin-right: 40px; height: 242px; box-shadow: 0px 0px 14px #ddd; -moz-box-shadow: 0px 0px 14px #ddd; }
.joinPart5 .list li .name1{ padding: 48px 0 0 35px; font-weight: bold; color: #484848; font-size: 32px; }
.joinPart5 .list li .name2{ padding: 10px 0 23px 35px; position: relative; font-size: 18px; color: #484848;}
.joinPart5 .list li .name2 em{ position: absolute; left: 35px; bottom: 0px; width: 20px; height: 3px; background: #37c3e3; display: block; }
.joinPart5 .list li .msg{ padding: 28px 0 0 35px; font-size: 14px; color: #a0a3a8; }
.joinPart6{ background: url(../images/joinPart6.jpg) center no-repeat; background-size: cover; padding-bottom: 140px;}
.joinPart6 .title{ margin-bottom: 45px; text-align: center; color: #29292c; font-size: 36px; position: relative; padding-bottom: 32px; }
.joinPart6 .title em{ position: absolute; left: 50%; bottom: 0px; width: 26px; height: 3px; display: block; margin-left: -13px; background: #37c3e3;}
.joinPart6 .form{padding: 44px 50px 112px;background:  #f4f4f4;}
.joinPart6 .list ul{ margin-right: -62px;}
.joinPart6 .list{ background:url(../images/line2.png) repeat-x bottom;}
.joinPart6 .form li{ width: 33.33%; float: left; }
.joinPart6 .form li .box{height:62px; padding-left: 94px;position:relative;margin-right:62px;}
.joinPart6 .form li img{ position:absolute; left:0px;top:5px;}
.joinPart6 .form li em{width: 77px;display:block;left:15px;text-align:right;top:5px;position:absolute;}
.joinPart6 .form li i{ color:#ff0000;}
.joinPart6 .form li .input1{width: 194px;height:28px;border:#dbdbdb solid 1px;line-height:28px;background: #fff;padding: 0 10px;color: #a9a9a9;}
.joinPart6 .form li select{width: 215px;height:28px;border:#dbdbdb solid 1px;line-height:28px;background: #fff;padding: 0 10px;color: #a9a9a9;}
.joinPart6 .textarea{ padding-top:30px;}
.joinPart6 .textarea .title2{ position:relative; height:40px;}
.joinPart6 .textarea .title2 img{ position:absolute; left:0px;top:5px;}
.joinPart6 .textarea .title2 em{ width:70px; display:block; left:25px; text-align:right; top:5px; position:absolute;}
.joinPart6 .textarea textarea{width: 1078px;height: 125px;border:#dbdbdb solid 1px;resize:  none;background:  #fff;padding: 10px;color: #a9a9a9;}
.joinPart6 .btnDiv{ padding-top:35px;}
.joinPart6 .btnDiv .btn1{float:left;width:120px;height:36px;color:#fff;font-size:14px;cursor:pointer;text-align:center;line-height:36px;background: #37c3e3;margin-right:20px;border-radius: 50px;}
.joinPart6 .btnDiv .btn2{ background:#cccccc;}
.joinPart6 textarea::-webkit-input-placeholder{color: #a9a9a9;} 
.joinPart6 textarea:-moz-placeholder{color: #a9a9a9; } 
.joinPart6 textarea::-moz-placeholder{color: #a9a9a9; } 
.joinPart6 textarea:-ms-input-placeholder{color: #a9a9a9; }

.proShow1{ overflow: hidden; height: 864px; background: url(../images/proShow1Bg.jpg) center no-repeat; background-size: cover;}
.proShow1 .wal{ position: relative; height: 864px;}
.proShow1 .model{ text-align: center; position: absolute; top: 65px; left:0px; width: 100%; font-size: 40px; color: #fff; z-index: 2;}
.proShow1 .imgDiv{ position: absolute; top: 165px; left:0; text-align: center;  z-index: 2; width: 100%;}

.proShow2{ overflow: hidden; height: 864px; background: url(../images/proShow2Bg.jpg) center no-repeat; background-size: cover;}
.proShow2 .wal{ position: relative; height: 864px;}
.proShow2 .txtDiv{ right: 50%; margin-right: -600px; top: 385px; position: absolute; }
.proShow2 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow2 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow2 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }

.proShow3{ overflow: hidden; height: 864px; background: url(../images/proShow3Bg.jpg) center no-repeat; background-size: cover;}
.proShow3 .wal{ position: relative; height: 864px;}
.proShow3 .txtDiv{ left: 50%; margin-left: -600px; top: 385px; position: absolute; }
.proShow3 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow3 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow3 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }

.proShow4{ overflow: hidden; height: 864px; background: url(../images/proShow4Bg.jpg) center no-repeat; background-size: cover;}
.proShow4 .wal{ position: relative; height: 864px;}
.proShow4 .txtDiv{ right: 50%; margin-right: -600px; top: 280px; position: absolute; }
.proShow4 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow4 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow4 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }

.proShow5{ overflow: hidden; height: 864px; background: url(../images/proShow5Bg.jpg) center no-repeat; background-size: cover;}
.proShow5 .wal{ position: relative; height: 864px;}
.proShow5 .txtDiv{ left: 50%; margin-left: -600px; top: 305px; position: absolute; }
.proShow5 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow5 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow5 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }
.proShow5 .txtDiv .limg{ padding-top: 50px; padding-left: 24px;}

.proShow6{ overflow: hidden; height: 864px; background: url(../images/proShow6Bg.jpg) center no-repeat; background-size: cover;}
.proShow6 .wal{ position: relative; height: 864px;}
.proShow6 .txtDiv{ right: 50%; margin-right: -600px; top: 300px; position: absolute; }
.proShow6 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow6 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow6 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }

.proShow7{ overflow: hidden; height: 864px; background: url(../images/proShow7Bg.jpg) center no-repeat; background-size: cover;}
.proShow7 .wal{ position: relative; height: 864px;}
.proShow7 .txtDiv{ left: 50%; margin-left: -600px; top: 325px; position: absolute; }
.proShow7 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow7 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow7 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }

.proShow8{ overflow: hidden; height: 864px; background: url(../images/proShow8Bg.jpg) center no-repeat; background-size: cover;}
.proShow8 .wal{ position: relative; height: 864px;}
.proShow8 .txtDiv{ right: 50%; margin-right: -600px; top: 335px; position: absolute; }
.proShow8 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow8 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow8 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }
.proShow8 .txtDiv .limg{ padding-top: 30px; padding-left: 24px;}

.proShow9{ overflow: hidden; height: 864px; background: url(../images/proShow9Bg.jpg) center no-repeat; background-size: cover;}
.proShow9 .wal{ position: relative; height: 864px;}
.proShow9 .txtDiv{ left: 50%; margin-left: -600px; top: 335px; position: absolute; }
.proShow9 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow9 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow9 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }

.proShow10{ overflow: hidden; height: 864px; background: url(../images/proShow10Bg.jpg) center no-repeat; background-size: cover;}
.proShow10 .wal{ position: relative; height: 864px;}
.proShow10 .txtDiv{ right: 50%; margin-right: -600px; top: 350px; position: absolute; }
.proShow10 .txtDiv .txt1{ padding-left: 24px; color: #fff; font-size: 36px; height: 50px; line-height: 50px;}
.proShow10 .txtDiv .txt1 em{ position: absolute; left: 0px; top: 8px; display: block; width: 2px; height: 32px; background: #fff; }
.proShow10 .txtDiv .txt2{ font-size: 24px; padding: 10px 0 0 24px; color: #fff; line-height: 40px; }
.proShow10 .txtDiv .limg{ padding-top: 30px; padding-left: 24px;}

.proShow11{ overflow: hidden; height: 864px; background: url(../images/proShow11Bg.jpg) center no-repeat; background-size: cover;}
.proShow11 .wal{ position: relative; height: 864px;}
.proShow11 .txtDiv{ position: absolute; width: 100%; text-align: center; top: 85px; left: 0px;}
.proShow11 .txt{ left:0px; font-size: 36px; color: #fff; z-index: 2;}
.proShow11 .txt span{ padding: 0 25px; }
.proShow11 .txt em{display: inline-block; width: 2px; height: 32px; background: #fff; position: relative; top: 3px;}
.proShow11 .limg{ padding-top: 95px; text-align: center;  z-index: 2; width: 100%;}

.proShow12{ overflow: hidden; height: 864px; background: url(../images/proShow12Bg.jpg) center no-repeat; background-size: cover;}
.proShow12 .wal{ position: relative; height: 864px;}
.proShow12 .limg1{ padding-top: 70px; text-align: center; }
.proShow12 .limg2{ position: absolute; right: 50%; margin-right: -600px; bottom: 0px; width: 532px;}

.productShow .bigImg img{ width: 100%; }





.bigPicLayer{ display: none; width:1000px; height:556px; position:fixed; z-index:111; top: 50% !important; margin-top:-278px ; padding: 10px; }
.bigPicLayer .close{ display:block; width:38px; height:38px; background:url(../images/m5_off.png) no-repeat; left: 50%; margin-left: -15px ; top:-80px; position: relative; position:absolute; z-index:222;}
.bigPicLayer .close em{ width: 1px; height: 50px; background: #FFFFFF; display: block; position: absolute; left: 50%; margin-left: -0.5px; top: 100%;  }
.bigPicLayer .imgDiv{ text-align:center;}
.bigPicLayer .imgDiv img{ width:100%;}
.bigPicLayer .imgDiv span{ display: block; text-align: center;font-size: 18px; margin-top: 16px; color: #fff; font-weight: bold; position: absolute; left: 0; top: 100%; width: 100%; }







/*2019.12.19*/
.distributor .title{ text-align:center; font-size:32px; color:#29292c; line-height:32px; padding-bottom:20px;}
.distributor .wen{ text-align:center; font-size:18px; color:#37c3e3; padding-bottom:35px;}
.distributor .form{ width:650px; padding-bottom:60px; margin:0 auto; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);}
.distributor .list{ padding:50px 60px 0;}
.distributor .list li{ margin-bottom:48px;}
.distributor .list li .txt{ font-size:20px; color:#333;}
.distributor .list li .txt em{ padding-left:8px; color:#ff3333;}
.distributor .list li .input1{ height:40px; line-height:40px; border-bottom:#e4e4e4 solid 1px; font-size:16px; color:#ccc; width:100%;}
.distributor .list li select{ text-indent:0; height:40px; line-height:40px; border:none; border-bottom:#e4e4e4 solid 1px; font-size:16px; color:#ccc; width:100%;}
.distributor .btnDiv{ padding-left:60px;}
.distributor .btnDiv a{ display:block; width:160px; height:50px; background:#37c3e3; color:#fff; font-size:16px; text-align:center; line-height:50px;transition:All 0.5s ease;
-webkit-transition:All 0.5s ease;
-moz-transition:All 0.5s ease;
-o-transition:All 0.5s ease;	}
.distributor .btnDiv a:hover{ background:#29b1d0;}

.download{ background:#f5f5f5; padding:75px 0 155px;}
.download .msg{ font-size:20px; color:#333; padding-bottom:18px;}
.download .form .lbox{ border:#e0e0e0 solid 1px; border-right:none; background:#fff;}
.download .form select{ background:#fff; border:none; border-right:#e0e0e0 solid 1px; height:43px; box-sizing:border-box; width:200px; line-height:43px; padding-left:18px; font-size:16px; color:#999;}
.download .form .rbox{ margin-left:20px;}
.download .form .rbox a{ display:block; width:220px; height: 45px; line-height:45px; background:#999; font-size:16px; color:#fff; text-align:center}
.download .form .rbox a:hover{ background:#37C3E3;}
.download .list{ padding:50px 0;}
.download .list li{ margin-bottom:10px; transition:All 0.5s ease;
-webkit-transition:All 0.5s ease;
-moz-transition:All 0.5s ease;
-o-transition:All 0.5s ease;}
.download .list li a{ height:60px; background:#fff; padding-left:30px; display:block; position:relative;}
.download .list li a:after{ content:''; position:absolute; right:30px; top:50%; width:12px; height:15px; margin-top:-8px; background: url(../images/nimg12_1.png) center no-repeat;}
.download .list li .name{ padding-left:50px; font-size:16px; color:#333; line-height:60px; background: url(../images/nimg18_1.png) left center no-repeat;}
.download .list li:hover{ box-shadow: 3px 4px 27px 0px rgba(0, 0, 0, 0.17); }



.sbuttons {
  bottom: 30px;
  position: fixed;
  margin: 1em;
  right: 30px;
  z-index: 5;
}
.sbutton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative;
}
.sbutton > ion-icon {
  font-size: 38px;
  display: block;
  color: white;
  padding: 10px;
  transition: all .2s ease-in-out;
  transition-delay: 2s;
}
.sbutton:active,
.sbutton:focus,
.sbutton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
.sbutton.pinteres {
  background: #e60023;
}
.sbutton.twitt {
  background: #03A9F4;
}
.sbutton.whatsapp {
  background: #00e676;
}







































